@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("../fonts/sourcesanspro-semibold.eot");
  src: url("../fonts/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold.woff") format("woff"), url("../fonts/sourcesanspro-semibold.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/sourcesanspro-bold.eot");
  src: url("../fonts/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold.woff2") format("woff2"), url("../fonts/sourcesanspro-bold.woff") format("woff"), url("../fonts/sourcesanspro-bold.ttf") format("truetype"), url("../fonts/sourcesanspro-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chalk';
  src: url("../fonts/chalk.eot");
  src: url("../fonts/chalk.eot?#iefix") format("embedded-opentype"), url("../fonts/chalk.woff2") format("woff2"), url("../fonts/chalk.woff") format("woff"), url("../fonts/chalk.ttf") format("truetype"), url("../fonts/chalk.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body, html {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #464646;
  overflow-x: hidden;
}

body {
  font-size: 1.4rem;
}

.dropdown-backdrop {
  display: none;
}

a {
  text-decoration: none;
  outline: 0;
  transition: all 0.3s ease;
  color: #151f67;
  display: inline-block;
}

a:focus {
  outline: 0;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

h2, h3 {
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-weight: normal;
}

.clock {
  display: none;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.dropdown-toggle:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-menu {
  position: static;
  float: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-shadow: none;
  border-radius: 0;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.keyboard-outline {
  outline: 2px solid red !important;
  text-decoration: none !important;
}

.keyboard-outline.button {
  outline-color: #151f67 !important;
  outline-offset: 2px !important;
}

input[type="text"].keyboard-outline, input[type="email"].keyboard-outline, input[type="password"].keyboard-outline, textarea.keyboard-outline, .butForm.keyboard-outline, input[type="submit"].keyboard-outline, input[type="radio"].keyboard-outline, input[type="checkbox"].keyboard-outline {
  outline-offset: 2px !important;
  outline: 2px solid red !important;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, .butForm:focus, input[type="submit"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: 0;
}

iframe {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content_txt:before, #content_txt:after {
  content: " ";
  display: table;
}

#content_txt:after {
  clear: both;
}

.label, .radio {
  padding: 0;
  color: inherit;
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  white-space: normal;
  border-radius: 0;
}

.clock-container {
  display: none;
}

.checkbox label, .checkbox .label, .radio label, .radio .label {
  padding: 0;
  margin: 0;
  position: static;
  min-height: 0;
}

.checkbox input[type="radio"], .checkbox input[type="checkbox"], .radio input[type="radio"], .radio input[type="checkbox"] {
  position: static;
  margin: 0;
}

.checkbox + .radio, .radio + .radio {
  margin: 0;
}

.heading, #content_txt > h2 {
  font-family: 'Source Sans Pro Bold', sans-serif;
  color: #151f67;
  font-size: 2.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0 0 15px;
  display: block;
  border-bottom: 1px solid #de6005;
}

.button-wrapper, a[href='wyloguj_sie'] {
  transition: all 0.3s ease;
  background-color: #de6005;
  line-height: 44px;
  height: 44px;
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 0 50px 0 10px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-size: 1.6rem;
}

.button-wrapper:before, .button-wrapper:after, a[href='wyloguj_sie']:before, a[href='wyloguj_sie']:after {
  pointer-events: none;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.button-wrapper:before, a[href='wyloguj_sie']:before {
  border-width: 0 0 28px 28px;
  border-color: transparent transparent #fff transparent;
  bottom: 0;
  right: 0;
}

.button-wrapper:after, a[href='wyloguj_sie']:after {
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  border-width: 5.5px 0 5.5px 10px;
  border-color: transparent transparent transparent #fff;
}

.button-wrapper:hover, a[href='wyloguj_sie']:hover {
  background-color: #ff9338;
  text-decoration: none !important;
  color: #fff !important;
}

.button-wrapper.keyboard-outline, a[href='wyloguj_sie'].keyboard-outline {
  outline: 2px solid #151f67 !important;
  outline-offset: 2px !important;
}

.button-wrapper:focus, a[href='wyloguj_sie']:focus {
  outline: 0;
  color: #fff;
}

.button-wrapper a:hover, a[href='wyloguj_sie'] a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.button-wrapper a:focus, a[href='wyloguj_sie'] a:focus {
  outline: 0;
}

.button-wrapper a.keyboard-outline, a[href='wyloguj_sie'] a.keyboard-outline {
  outline: 2px solid #151f67 !important;
  outline-offset: 2px !important;
}

.button-wrapper input, .button-wrapper button, a[href='wyloguj_sie'] input, a[href='wyloguj_sie'] button {
  text-transform: uppercase;
  border: 0;
  outline: 0;
  width: calc(100% + 60px);
  padding: 0 0 0 10px;
  transform: translateX(-10px);
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: block;
  text-align: left;
  color: #fff;
}

.button-wrapper input.keyboard-outline, .button-wrapper button.keyboard-outline, a[href='wyloguj_sie'] input.keyboard-outline, a[href='wyloguj_sie'] button.keyboard-outline {
  outline: 2px solid #151f67 !important;
  outline-offset: -2px !important;
}

@media (min-width: 992px) {
  .visible-mobile {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100% !important;
  }
  .hidden-mobile {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.main-nav {
  background-color: #151f67;
  color: #fff;
}

.main-nav a {
  color: #fff;
}

.nav__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 9px;
}

.nav__content:before {
  content: '';
  width: 9999px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  display: block;
  position: absolute;
  left: -50%;
  right: 0;
  top: 56px;
}

.nav__fonts {
  font-family: 'Source Sans Pro Semibold', sans-serif;
  display: block;
  margin: 0 30px 0 0;
  padding: 0;
  font-size: 0;
}

.nav__fonts:before, .nav__fonts:after {
  content: " ";
  display: table;
}

.nav__fonts:after {
  clear: both;
}

.nav__fonts li {
  display: inline-block;
}

.nav__fonts li:not(:last-child) {
  margin-right: 7px;
}

.nav__fonts li a {
  color: #de6005;
  display: inline-block;
  text-decoration: none;
}

.nav__fonts li a.medium {
  font-size: 18px;
}

.nav__fonts li a.big {
  font-size: 20px;
}

.nav__fonts li a.large {
  font-size: 22px;
}

.nav__bip {
  margin: 0 30px 0 0;
}

.nav__search {
  height: 38px;
  width: 210px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -1px;
  overflow: hidden;
}

.nav__search input[type="text"] {
  background-color: transparent;
  color: inherit;
  border: 0;
  height: 38px;
  padding: 0 10px;
  font-size: 1.3rem;
  line-height: 38px;
  outline: 0;
  box-shadow: 0;
  float: left;
  display: block;
  width: calc(100% - 42px);
}

.nav__search input[type="text"]:focus, .nav__search input[type="text"]:active {
  outline: 0 !important;
}

.nav__search input[type="text"].keyboard-outline {
  border: 2px solid red !important;
  outline: 0 !important;
}

.nav__search button {
  transition: all 0.3s ease;
  width: 42px;
  height: 38px;
  display: block;
  cursor: pointer;
  float: left;
  border: 0;
  font-size: 0;
  outline: 0;
  background-color: #de6005;
  background-image: url("../images/nav/search-color1.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.nav__search button:hover {
  background-color: #ff9338;
}

.nav__search button.keyboard-outline {
  outline-color: #151f67 !important;
  outline-offset: -4px !important;
}

.nav__contrast {
  font-size: 1.2rem;
  margin: 0 30px 0 0;
}

.nav__contrast img {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.nav__home {
  margin: 0;
  padding: 0 15px;
  height: 56px;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav__home img {
  display: block;
  width: 26px;
  height: auto;
}

.nav__home:hover {
  background-color: #de6005;
}

.nav__menu {
  display: block;
  float: left;
  text-align: center;
}

.nav__menu #skip_tm {
  display: none;
}

.nav__menu .protectedPage {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  width: 14px;
  height: 17px;
  transform: translateY(-2px);
  background-size: cover;
  background-image: url("../images/lock-basic.png");
}

.nav__menu > ul {
  padding: 0;
  margin: 15px 0 0;
  font-size: 0;
  text-align: left;
}

.nav__menu > ul:before, .nav__menu > ul:after {
  content: " ";
  display: table;
}

.nav__menu > ul:after {
  clear: both;
}

.nav__menu > ul > li {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  font-size: 1.3rem;
}

.nav__menu > ul > li > a {
  width: auto;
  height: 90px;
  padding: 0 25px;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-direction: column;
  flex-direction: column;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

.nav__menu > ul > li > a.selected {
  font-family: 'Source Sans Pro Bold';
  border-bottom-color: #de6005;
}

.nav__menu > ul > li > a:hover {
  text-decoration: none;
  border-bottom-color: #de6005;
}

.nav__menu > ul > li > a.keyboard-outline {
  outline-offset: -2px !important;
}

.nav__menu > ul > li > a img {
  display: block;
  width: 26px;
  height: auto;
}

.nav__menu > ul > li ul {
  display: none;
  float: none;
  box-shadow: 0;
}

.nav__menu > ul > li ul.active {
  display: block;
  position: absolute;
  background-color: #151f67;
  text-align: center;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 15px);
  z-index: 9;
  padding: 10px 0;
  border-radius: 15px;
}

.nav__menu > ul > li ul.active a {
  color: #fff;
  white-space: normal;
  padding: 10px;
  display: block;
}

.nav__menu > ul > li ul.active a:hover, .nav__menu > ul > li ul.active a:focus {
  background-color: #de6005;
}

.nav__menu > ul > li ul.active:before {
  content: '';
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  position: absolute;
  z-index: 9;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 12px 7.5px;
  border-color: transparent transparent #151f67 transparent;
}

.nav__home--mobile {
  display: none;
}

.nav__content--mobile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.nav--hamburger {
  display: none;
  padding: 5px;
  cursor: pointer;
  position: relative;
  border: 0;
  outline: 0;
  box-shadow: 0;
  background-color: transparent;
  margin: 30px 0 25px;
}

.nav--hamburger i {
  transition: all 0.3s ease;
  width: 30px;
  height: 3px;
  opacity: 1;
  background-color: #de6005;
  display: block;
}

.nav--hamburger i:not(:last-of-type) {
  margin-bottom: 7px;
}

.nav--hamburger:before {
  content: 'menu';
  position: absolute;
  display: block;
  text-transform: uppercase;
  color: #de6005;
  font-size: 1.6rem;
  line-height: 33px;
  width: 55px;
  top: 1px;
  left: 100%;
  padding-left: 5px;
}

.nav--hamburger.active i:first-of-type {
  transform: rotate(45deg) translateX(8px) translateY(7px);
}

.nav--hamburger.active i:nth-of-type(2) {
  opacity: 0;
}

.nav--hamburger.active i:last-of-type {
  transform: rotate(-45deg) translateX(7px) translateY(-6px);
}

@media (max-width: 991px) {
  .nav__home, .nav__menu, .nav__fonts {
    display: none;
  }
  .nav--hamburger {
    display: inline-block;
  }
  .nav__content--holder {
    background-color: #de6005;
  }
  .nav__contrast {
    font-size: 0;
    float: left;
    margin: 10px 0 0;
  }
  .nav__home--mobile {
    display: block;
    float: left;
  }
  .nav__home--mobile img {
    width: 40px;
    height: auto;
  }
  .nav__content--mobile {
    float: right;
    display: block;
  }
  .nav__content--mobile:before, .nav__content--mobile:after {
    content: " ";
    display: table;
  }
  .nav__content--mobile:after {
    clear: both;
  }
  .nav__menu.active {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -66px;
    background-color: #de6005;
    text-align: center;
    z-index: 9;
  }
  .nav__menu.active > ul {
    margin: 0;
  }
  .nav__menu.active > ul > li {
    float: none;
    display: block;
    margin: 0;
  }
  .nav__menu.active > ul > li .menu-icon {
    display: none;
  }
  .nav__menu.active > ul > li:not(:last-child) {
    margin: 0;
  }
  .nav__menu.active > ul > li > a {
    border: 0;
    display: block;
    line-height: 30px;
    width: 100%;
    height: auto;
    padding: 5px 0;
  }
  .nav__menu.active > ul > li > a .protectedPage {
    top: 11px;
    right: 15px;
  }
  .nav__menu.active > ul > li > a:hover {
    background-color: #ff9338;
  }
  .nav__menu.active > ul > li img {
    display: block;
  }
  .nav__menu.active > ul ul.active {
    padding: 0;
    position: static;
    background-color: #ab2d00;
    width: 100%;
    transform: none;
    border-radius: 0;
  }
  .nav__menu.active > ul ul.active:before {
    display: none;
  }
  .nav__content {
    padding: 15px 0 12px;
    display: block;
  }
  .nav__content:before, .nav__content:after {
    content: " ";
    display: table;
  }
  .nav__content:after {
    clear: both;
  }
  .nav__content:before {
    bottom: -1px;
    top: auto;
    background-color: #de6005;
  }
  .nav__bip {
    float: left;
    margin: 4px 0 0 15px;
  }
  .nav__search {
    width: auto;
    float: left;
    margin: 0 0 0 10px;
    outline: 0;
    position: relative;
  }
  .nav__search input[type="text"] {
    display: none;
  }
  .nav__search button {
    background-image: url("../images/nav/search-color2.png");
  }
  .nav__search:before {
    display: block;
    content: '';
    position: absolute;
    width: 1px;
    height: 21px;
    background-color: #653829;
    top: 10px;
    left: 0;
  }
  .nav__search:after {
    width: 42px;
    height: 38px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
  }
  .nav__search.active {
    overflow: visible;
  }
  .nav__search.active input[type="text"] {
    display: block;
    position: absolute;
    width: 175px;
    height: 38px;
    top: 0;
    left: -174px;
    background-color: #fff;
    color: #151f67;
    border: 1px solid #151f67;
  }
  .nav__search.active:after {
    display: none;
  }
}

.hero {
  position: relative;
  height: 526px;
}

.hero .container-fluid, .hero .row, .hero .col-xs-12 {
  padding: 0 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hero--mobile {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__carousel {
  position: absolute;
  height: 442px;
  width: 1170px;
  left: calc(50% - 585px);
}

.hero__objects {
  position: absolute;
  height: 442px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 7;
}

.hero__background {
  height: 442px;
  background-size: cover;
  background-position: center center;
}

.hero__content {
  position: absolute;
  z-index: 8;
  top: 83px;
  left: calc(50% - 500px);
  color: #fff;
}

.hero__content h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-weight: 400;
  padding: 24px 50px 24px 20px;
  font-size: 3.8rem;
  line-height: 44px;
  display: inline-block;
  width: 495px;
  background-color: rgba(21, 31, 103, 0.8);
}

.hero__content > div {
  background-color: rgba(21, 31, 103, 0.8);
  padding: 2px 70px 20px 20px;
  font-size: 1.8rem;
  line-height: 20px;
  width: 356px;
}

.hero__content a {
  color: #fff;
  text-decoration: underline;
}

.hero__content a:hover {
  text-decoration: none;
}

.hero__content p {
  margin: 0;
}

.hero__content p:not(:last-child) {
  margin: 0 0 5px;
}

.hero__terrain {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 84px;
  background-size: cover;
  background-image: url("../images/hero/terrain.png");
  width: 100%;
}

.hero__clouds {
  position: absolute;
  left: calc(50% + 640px);
  top: 160px;
}

.hero__objects--left {
  position: absolute;
  bottom: 0;
  right: calc(50% + 490px);
}

.hero__objects--right {
  position: absolute;
  bottom: 0;
  left: calc(50% + 390px);
}

.hero__objects--person {
  position: absolute;
  bottom: 0;
  left: calc(50% + 720px);
}

@media (max-width: 1560px) {
  .hero__clouds, .hero__objects--person {
    display: none;
  }
}

@media (max-width: 1520px) {
  .hero__objects--right {
    left: auto;
    right: 25px;
  }
  .hero__objects--left {
    left: -10px;
    right: auto;
  }
  .hero__content {
    left: calc(50% - 350px);
  }
}

@media (max-width: 1400px) {
  .hero__objects--left {
    left: -60px;
  }
}

@media (max-width: 1300px) {
  .hero__objects--left {
    left: -70px;
  }
  .hero__content {
    left: calc(50% - 250px);
  }
}

@media (max-width: 1199px) {
  .hero__carousel {
    width: 100%;
    left: 0;
    right: 0;
  }
  .hero__objects--left {
    left: -65px;
  }
  .hero__objects--right {
    right: 25px;
  }
  .hero__content {
    top: 25px;
    left: calc(50% - 200px);
  }
}

@media (max-width: 991px) {
  .hero {
    height: 708px;
  }
  .hero--mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 74px;
    background-color: #de6005;
    color: #151f67;
  }
  .hero--mobile h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 36px;
    margin: 0;
  }
  .hero__terrain {
    bottom: 0;
  }
  .hero__content {
    left: 60px;
    top: 20px;
  }
  .hero__carousel, .hero__objects, .hero__background {
    height: 624px;
  }
}

@media (max-width: 639px) {
  .hero {
    height: 451px;
  }
  .hero__carousel, .hero__objects, .hero__background {
    height: 416px;
  }
  .hero--mobile {
    height: 51px;
  }
  .hero--mobile h2 {
    font-size: 2.8rem;
  }
  .hero__content {
    top: 20px;
    left: 40px;
    padding: 17px 25px 17px 14px;
  }
  .hero__content h1 {
    font-size: 2.8rem;
    line-height: 34px;
  }
  .hero__content > div {
    width: 260px;
  }
  .hero__content a {
    font-size: 1.3rem;
  }
  .hero__terrain {
    height: 35px;
    bottom: 0;
  }
  .hero__objects--left {
    left: 20px;
    width: 160px;
  }
  .hero__objects--right {
    width: 130px;
    right: 85px;
  }
  .hero__objects--person {
    display: block;
    right: 52px;
    left: auto;
    width: 20px;
  }
}

@media (max-width: 560px) {
  .hero__content {
    left: 25px;
    right: 25px;
    top: 0;
  }
  .hero__content h1 {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .hero__content {
    left: 15px;
    right: 15px;
    top: 25px;
  }
  .hero__content h1 {
    font-size: 2.4rem;
    line-height: 26px;
  }
  .hero__content > div {
    font-size: 1.4rem;
    line-height: 16px;
  }
  .hero--mobile h2 {
    font-size: 2.3rem;
    line-height: 25px;
  }
}

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.owl-carousel .owl-wrapper li {
  width: 100%;
  list-style-type: none;
  display: block;
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px;
}

.owl-item.loading {
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center;
}

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

.owl-fade-out {
  z-index: 10;
  animation: fadeOut .7s both ease;
}

.owl-fade-in {
  animation: fadeIn .7s both ease;
}

.owl-backSlide-out {
  animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
  animation: backSlideIn 1s both ease;
}

.owl-goDown-out {
  animation: scaleToFade .7s ease both;
}

.owl-goDown-in {
  animation: goDown .6s ease both;
}

.owl-fadeUp-in {
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  animation: scaleUpTo .5s ease both;
}

.owl-fadeDown-in {
  animation: scaleDownFrom .5s ease both;
}

.owl-fadeDown-out {
  animation: scaleDownTo .5s ease both;
}

.owl-goUp-out {
  animation: scaleToFade .7s ease both;
}

.owl-goUp-in {
  animation: goUp .6s ease both;
}

@keyframes empty {
  0% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backSlideOut {
  25% {
    opacity: .5;
    transform: translateZ(-500px);
  }
  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
}

@keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: .5;
    transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}

@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes goDown {
  from {
    transform: translateY(-100%);
  }
}

@keyframes goUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes scaleDownFrom {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes scaleDownTo {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

.headmodules {
  background-color: #151f67;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0;
  margin: 0 0 30px;
}

.headmodules a {
  color: #fff;
}

.headmodules a:hover {
  text-decoration: underline;
}

.headmodules a.button:hover {
  text-decoration: none;
}

.headmodules__holder {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: center;
  justify-content: center;
}

.headmodules__holder a {
  display: inline-block;
}

.headmodules__holder a.keyboard-outline {
  outline-color: #fff;
}

.headmodules__holder > li {
  position: relative;
  width: 220px;
  line-height: 22px;
}

.headmodules__holder > li:hover .module_icon:before {
  transform: rotate(6deg);
}

.headmodules__holder > li:not(:last-child) {
  margin-right: 95px;
}

.headmodules__holder > li h2 {
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-size: 2.4rem;
  line-height: 28px;
  text-transform: uppercase;
  margin: 20px 0 15px;
}

.headmodules__holder > li ul {
  padding: 0;
  margin: 0;
}

.headmodules__holder > li p {
  margin: 0;
}

.headmodules__holder > li .module_icon {
  width: 113px;
  height: 128px;
  background-image: url("../images/headmodules-card.png");
  background-size: cover;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.headmodules__holder > li .module_icon:before {
  transition: all 0.3s ease;
  content: '';
  position: static;
  display: block;
  background-size: cover;
}

.headmodules__holder #mod_calendar .module_icon:before {
  background-image: url("../images/icons/icon1-dark.png");
  width: 52px;
  height: 56px;
}

.headmodules__holder #mod_stats .statsCount {
  font-weight: bold;
}

.headmodules__holder #mod_stats .module_icon:before {
  background-image: url("../images/icons/icon2-dark.png");
  width: 60px;
  height: 61px;
}

.headmodules__holder #mod_kzk .module_icon:before {
  background-image: url("../images/icons/icon3-dark.png");
  width: 60px;
  height: 55px;
}

.headmodules__holder #mod_location .module_icon:before {
  background-image: url("../images/icons/icon4-dark.png");
  width: 60px;
  height: 58px;
}

.headmodules__holder #mod_menu .module_icon:before {
  width: 63px;
  height: 59px;
  background-image: url("../images/icons/icon7-dark.png");
}

.headmodules__holder #mod_gallery .module_icon:before {
  background-image: url("../images/icons/icon-dark.png");
}

.headmodules__holder #mod_jokes .module_icon:before {
  background-image: url("../images/icons/icon-dark.png");
}

.headmodules__holder #mod_video .module_icon:before {
  width: 61px;
  height: 65px;
  background-image: url("../images/icons/icon6-dark.png");
}

.headmodules__holder #mod_timetable .module_icon:before {
  width: 52px;
  height: 64px;
  background-image: url("../images/icons/icon8-dark.png");
}

.headmodules__holder #mod_programs .module_icon:before {
  width: 52px;
  height: 64px;
  background-image: url("../images/icons/icon10-dark.png");
}

.headmodules__holder #mod_contact .module_icon:before {
  width: 59px;
  height: 54px;
  background-image: url("../images/icons/icon5-dark.png");
}

.headmodules__holder #mod_login .module_icon:before {
  width: 47px;
  height: 64px;
  background-image: url("../images/icons/icon9-dark.png");
}

.headmodules__holder #mod_login fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.headmodules__holder #mod_login legend {
  display: none;
}

.headmodules__holder #mod_login label {
  display: block;
  float: left;
  width: 50px;
  line-height: 34px;
  margin: 0 0 10px;
}

.headmodules__holder #mod_login input[type="text"], .headmodules__holder #mod_login input[type="password"] {
  height: 34px;
  line-height: 32px;
  padding: 0 10px;
  width: calc(100% - 50px);
  float: left;
  display: block;
  margin: 0 0 10px;
}

.headmodules__holder #mod_login br {
  display: none;
}

.headmodules__holder #mod_login img {
  display: none;
}

.headmodules__holder #mod_login a[href='wyloguj_sie']:before {
  border-bottom-color: #151f67;
}

.headmodules__holder #mod_login a[href='edytuj-konto'] {
  display: block;
}

.headmodules__holder #mod_login .button-wrapper {
  float: right;
}

.headmodules__holder #mod_login .button-wrapper:before {
  border-bottom-color: #151f67;
}

@media (max-width: 991px) {
  .headmodules {
    padding: 0;
    margin: 0;
  }
  .headmodules__holder {
    padding: 50px 0 40px;
    display: block;
    text-align: center;
    font-size: 0;
  }
  .headmodules__holder:before, .headmodules__holder:after {
    content: " ";
    display: table;
  }
  .headmodules__holder:after {
    clear: both;
  }
  .headmodules__holder > li {
    display: inline-block;
    width: 305px;
    vertical-align: top;
    margin: 0 20px 50px;
    text-align: left;
  }
  .headmodules__holder > li:before, .headmodules__holder > li:after {
    content: " ";
    display: table;
  }
  .headmodules__holder > li:after {
    clear: both;
  }
  .headmodules__holder > li:not(:last-child) {
    margin-right: 0;
  }
  .headmodules__holder > li:nth-child(odd) {
    margin-right: 25px;
  }
  .headmodules__holder > li:nth-child(even) {
    margin-left: 25px;
  }
  .headmodules__holder > li h2 {
    margin: 0 0 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    line-height: 24px;
  }
  .headmodules__holder > li .module_content {
    float: right;
    font-size: 1.6rem;
    width: calc(100% - 100px);
  }
  .headmodules__holder > li .module_icon {
    margin-top: 5px;
    width: 80px;
    height: 91px;
    float: left;
  }
  .headmodules__holder > li .module_icon:before {
    transform: scale(0.75);
  }
  .headmodules__holder > li:hover .module_icon:before {
    transform: scale(0.75) rotate(6deg);
  }
}

@media (max-width: 799px) {
  .headmodules__holder > li {
    width: 305px;
  }
}

@media (max-width: 767px) {
  .headmodules__holder {
    padding: 50px 0 75px;
  }
  .headmodules__holder > li {
    display: block;
    margin: 0 auto 30px;
  }
  .headmodules__holder > li:not(:last-child), .headmodules__holder > li:nth-child(odd), .headmodules__holder > li:nth-child(even) {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 499px) {
  .headmodules__holder #mod_login fieldset {
    max-width: 160px;
  }
  .headmodules__holder #mod_login label, .headmodules__holder #mod_login input[type="text"], .headmodules__holder #mod_login input[type="password"] {
    float: none;
    width: 100%;
  }
  .headmodules__holder #mod_login label {
    line-height: 16px;
    margin: 0 0 5px;
  }
  .headmodules__holder #mod_login .button-wrapper {
    float: none;
  }
}

.modules-main > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  -ms-flex-pack: center;
  justify-content: center;
}

.modules-main > ul > li.modulesLeftMain, .modules-main > ul > li.no-count {
  display: none;
}

.modules-main > ul > li > div {
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  background-image: url("../images/module-card.png");
  background-size: cover;
  width: 265px;
  height: 226px;
  padding: 85px 25px 45px 65px;
  font-size: 1.3rem;
  line-height: 14px;
}

.modules-main > ul > li > div:before {
  content: '';
  display: block;
  position: absolute;
  background-size: cover;
}

.modules-main > ul > li > div:hover {
  transform: rotate(3deg);
}

.modules-main > ul > li:not(:last-child) {
  margin-right: 30px;
}

.modules-main > ul > li h2 {
  color: #151f67;
  display: block;
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-size: 2.2rem;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.modules-main > ul > li p {
  display: block;
  width: 146px;
  margin: 4px 0 -4px;
}

.modules-main > ul > li a {
  display: -ms-flexbox;
  display: flex;
  color: #464646;
  width: 146px;
  height: 55px;
  margin: 4px 0 0;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modules-main > ul #mod_contact:before {
  top: 32px;
  left: 29px;
  width: 39px;
  height: 38px;
  background-image: url("../images/icons/icon1-light.png");
}

.modules-main > ul #mod_forum:before {
  top: 32px;
  left: 30px;
  width: 43px;
  height: 42px;
  background-image: url("../images/icons/icon2-light.png");
}

.modules-main > ul #mod_forum #modForum {
  display: none;
}

.modules-main > ul #mod_forum .bolder {
  display: none;
}

.modules-main > ul #mod_location:before {
  top: 32px;
  left: 30px;
  width: 34px;
  height: 47px;
  background-image: url("../images/icons/icon9-light.png");
}

.modules-main > ul #mod_timetable {
  background-image: url("../images/module-card-title.png");
}

.modules-main > ul #mod_timetable:before {
  top: 32px;
  left: 30px;
  width: 39px;
  height: 38px;
  background-image: url("../images/icons/icon3-light.png");
}

.modules-main > ul #mod_timetable a {
  display: none;
}

.modules-main > ul #mod_newsletter:before {
  top: 32px;
  left: 32px;
  width: 44px;
  height: 42px;
  background-image: url("../images/icons/icon4-light.png");
}

.modules-main > ul #mod_menu:before {
  top: 36px;
  left: 28px;
  width: 43px;
  height: 34px;
  background-image: url("../images/icons/icon5-light.png");
}

.modules-main > ul #mod_gallery {
  background-image: url("../images/module-card-title.png");
}

.modules-main > ul #mod_gallery:before {
  top: 32px;
  left: 30px;
  width: 41px;
  height: 35px;
  background-image: url("../images/icons/icon6-light.png");
}

.modules-main > ul #mod_gallery a {
  display: none;
}

.modules-main > ul #mod_video:before {
  top: 30px;
  left: 30px;
  width: 43px;
  height: 46px;
  background-image: url("../images/icons/icon7-light.png");
}

.modules-main > ul #mod_jokes:before {
  top: 34px;
  left: 30px;
  width: 39px;
  height: 42px;
  background-image: url("../images/icons/icon8-light.png");
}

#modulesBottom {
  margin-top: 20px;
}

#modulesTop2 {
  margin: 20px 0;
}

@media (min-width: 1200px) {
  .modules-main.single > ul > li > div {
    background-image: url("../images/module-card-single-desktop-large.png");
    width: 845px;
  }
  .modules-main.single > ul #mod_timetable, .modules-main.single > ul #mod_gallery {
    background-image: url("../images/module-card-title-single-desktop-large.png");
  }
  .modules-main.twin > ul > li > div {
    width: 405px;
    background-image: url("../images/module-card-twin-desktop-large.png");
  }
  .modules-main.twin > ul #mod_timetable, .modules-main.twin > ul #mod_gallery {
    background-image: url("../images/module-card-title-twin-desktop-large.png");
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .modules-main.single > ul > li > div {
    width: 695px;
    background-image: url("../images/module-card-single-desktop-small.png");
  }
  .modules-main.single > ul #mod_timetable, .modules-main.single > ul #mod_gallery {
    background-image: url("../images/module-card-title-single-desktop-small.png");
  }
  .modules-main.twin > ul > li > div {
    width: 330px;
    background-image: url("../images/module-card-twin-desktop-small.png");
  }
  .modules-main.twin > ul #mod_timetable, .modules-main.twin > ul #mod_gallery {
    background-image: url("../images/module-card-title-twin-desktop-small.png");
  }
}

@media (max-width: 1199px) {
  .modules-main > ul {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .modules-main > ul > li > div {
    width: 214px;
    height: 182.5px;
    padding: 70px 25px 45px 58px;
    font-size: 1.05rem;
    line-height: 12px;
  }
  .modules-main > ul > li > div:before {
    transform: scale(0.8) rotate(360deg);
  }
  .modules-main > ul > li:not(:last-child) {
    margin-right: 0;
  }
  .modules-main > ul > li h2 {
    font-size: 1.8rem;
    line-height: 20px;
  }
  .modules-main > ul > li p {
    width: 120px;
    margin: 0;
  }
  .modules-main > ul > li a {
    width: 120px;
    height: 45px;
    margin: 0;
  }
  .modules-main > ul #mod_contact:before {
    top: 20px;
    left: 20px;
  }
  .modules-main > ul #mod_forum:before {
    top: 23px;
    left: 20px;
  }
  .modules-main > ul #mod_timetable:before {
    top: 22px;
    left: 20px;
  }
  .modules-main > ul #mod_newsletter:before {
    top: 22px;
    left: 22px;
  }
  .modules-main > ul #mod_menu:before {
    top: 23px;
    left: 18px;
  }
  .modules-main > ul #mod_gallery:before {
    top: 20px;
    left: 21px;
  }
  .modules-main > ul #mod_location:before {
    top: 22px;
    left: 21px;
  }
  .modules-main > ul #mod_video:before {
    top: 21px;
    left: 20px;
  }
  .modules-main > ul #mod_jokes:before {
    top: 22px;
    left: 22px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .modules-main.single > ul > li > div {
    padding-left: 120px;
    height: 226px;
  }
  .modules-main.twin > ul > li > div {
    padding-left: 120px;
    height: 226px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .modules-main.single > ul {
    display: -ms-flexbox;
    display: flex;
  }
  .modules-main.twin > ul > li {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .modules-main#modulesTop2 > ul {
    margin: 20px 0 0;
  }
  .modules-main#modulesBottom > ul {
    margin: 0 0 20px;
  }
  .modules-main > ul {
    display: block;
  }
  .modules-main > ul:before, .modules-main > ul:after {
    content: " ";
    display: table;
  }
  .modules-main > ul:after {
    clear: both;
  }
  .modules-main > ul > li {
    float: left;
    display: block;
    width: 33.3333%;
    margin-top: 10px;
  }
  .modules-main > ul > li.modulesLeftMain {
    display: block;
  }
  .modules-main > ul > li:not(:last-child) {
    margin-bottom: 10px;
  }
  .modules-main > ul > li > div {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 700px) {
  .modules-main > ul > li {
    width: 50%;
  }
}

@media (max-width: 479px) {
  .modules-main > ul > li {
    width: 100%;
  }
}

.article {
  background-color: #ebebeb;
  position: relative;
  min-height: 222px;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 0 30px;
}

.article .heading {
  margin: 0 0 25px;
}

.article h4 {
  color: #151f67;
  margin: 0 0 25px;
  line-height: 24px;
  font-size: 2.1rem;
  font-family: 'Source Sans Pro Bold', sans-serif;
  text-transform: uppercase;
}

.article h4 a {
  color: inherit;
}

.article a {
  color: #fff;
}

.article p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 17px;
}

.article .protectedPage {
  position: absolute;
  display: block;
  width: 14px;
  height: 17px;
  position: absolute;
  pointer-events: none;
  top: 20px;
  right: 20px;
  background-size: cover;
  background-image: url("../images/lock-color1.png");
}

.article--highlighted {
  background-color: #151f67;
  color: #fff;
}

.article--highlighted .protectedPage {
  background-image: url("../images/lock-basic.png");
}

.article--highlighted .article__date:before {
  border-top-color: #de6005;
}

.article--highlighted h4 a {
  color: #fff;
}

.article--highlighted .article__link.keyboard-outline {
  outline-color: #ccc !important;
}

.article__date {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 115px;
  height: 115px;
  color: #fff;
  z-index: 2;
  font-size: 1.2rem;
}

.article__date span {
  display: block;
  transform: translateX(-20px) translateY(-23px);
  width: 60px;
  position: relative;
  z-index: 2;
}

.article__date:before {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  display: block;
  z-index: 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 115px 115px 0 0;
  border-color: #151f67 transparent transparent transparent;
}

.article__content {
  width: calc(100% - 115px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 50px 70px 25px;
  float: right;
}

.article__image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
  width: 350px;
  overflow: hidden;
  position: relative;
}

.article__image div {
  overflow: hidden;
}

.article__image img {
  transition: all .3s ease;
  width: 100%;
}

.article__image:hover img, .article__image.keyboard-outline img {
  transform: scale(1.1);
  opacity: 0.8;
}

.article__image + .article__content {
  display: block;
  width: calc(100% - 350px);
}

.article__link {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  bottom: 0;
  right: 0;
  padding: 0 0 0 30px;
  transition: all 0.3s ease;
  background-color: #de6005;
  line-height: 65px;
  height: 65px;
  width: 235px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  overflow: hidden;
}

.article__link:before, .article__link:after {
  pointer-events: none;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.article__link:before {
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #fff transparent;
}

.article__link:after {
  top: 50%;
  transform: translateY(-50%);
  right: 52px;
  border-width: 5.5px 0 5.5px 10px;
  border-color: transparent transparent transparent #fff;
}

.article__link:hover {
  text-decoration: none;
  background-color: #ff9338;
}

.article__link.keyboard-outline {
  outline-color: #151f67 !important;
  outline-offset: 2px !important;
}

@media (max-width: 1199px) {
  .article h4 {
    margin: 0 0 5px;
  }
  .article__content {
    padding: 15px 30px 70px 15px;
  }
  .article__image {
    width: 250px;
  }
  .article__image + .article__content {
    width: calc(100% - 250px);
  }
}

@media (max-width: 799px) {
  .article {
    height: auto;
  }
  .article h4 {
    margin: 0;
  }
  .article--highlighted {
    background-color: #de6005;
  }
  .article--highlighted h4 {
    color: #151f67;
  }
  .article--highlighted h4 a {
    color: #151f67;
  }
  .article--highlighted .article__link {
    background-color: #ebebeb;
    color: #de6005;
  }
  .article--highlighted .article__link:after {
    border-left-color: #de6005;
  }
  .article--highlighted .article__link:hover {
    background-color: white;
  }
  .article__date {
    width: 100%;
    height: auto;
    color: inherit;
    position: static;
    font-size: 1.4rem;
    margin: 0 0 15px;
  }
  .article__date span {
    transform: none;
    width: 100%;
  }
  .article__date:before {
    display: none;
  }
  .article__image {
    display: none;
  }
  .article__image + .article__content {
    width: 100%;
  }
  .article__content {
    width: 100%;
    padding: 22px 46px 56px 22px;
  }
  .article__link {
    width: 148px;
    height: 41px;
    line-height: 42px;
    font-size: 1.2rem;
    padding-left: 10px;
  }
  .article__link:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 36px 22px;
    border-color: transparent transparent #fff transparent;
  }
  .article__link:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5px 0 3.5px 7px;
    right: 33px;
  }
}

@media (max-width: 767px) {
  .article {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .article h4 {
    margin: 0 0 12px;
  }
  .article .protectedPage {
    top: 5px;
    right: 5px;
  }
  .article__date {
    position: absolute;
    text-align: right;
    width: 90px;
    right: 25px;
    top: 5px;
    left: auto;
  }
  .article__image + .article__content {
    width: calc(100% - 151px);
  }
  .article__content {
    padding: 22px 0 56px 22px;
    float: left;
    width: calc(100% - 151px);
  }
}

@media (max-width: 479px) {
  .article__content {
    width: 100%;
    padding: 22px 22px 56px;
  }
  .article__content h4 {
    width: calc(100% - 80px);
  }
  .article__image + .article__content {
    width: 100%;
  }
}

.aside .module_content {
  padding: 12px;
}

.aside .module_content:before, .aside .module_content:after {
  content: " ";
  display: table;
}

.aside .module_content:after {
  clear: both;
}

.aside .heading {
  font-size: 2.2rem;
  letter-spacing: 0.5px;
  line-height: 26px;
}

.aside a {
  color: inherit;
  transition: all 0.3s ease;
  display: inline-block;
}

.aside a.keyboard-outline {
  outline-color: #151f67 !important;
}

.aside #mod_kzk a:hover {
  text-decoration: underline;
}

.aside #mod_kzk h2 {
  display: -ms-flexbox !important;
  display: flex !important;
  line-height: 30px !important;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.aside #mod_newsletter a:hover {
  text-decoration: underline;
}

.aside #mod_jokes a:hover {
  text-decoration: underline;
}

.aside #mod_calendar a:hover {
  text-decoration: underline;
}

.aside #mod_calendar p {
  margin: 0;
}

.aside #mod_gallery a:hover {
  text-decoration: underline;
}

.aside #mod_stats ul {
  padding: 0;
  margin: 0;
}

.aside #mod_video a:hover {
  text-decoration: underline;
}

.aside #mod_contact {
  position: relative;
  transition: all 0.3s ease;
  background-image: url("../images/module-card.png");
  background-size: cover;
  width: 265px;
  height: 226px !important;
  padding: 85px 25px 45px 65px;
  font-size: 1.3rem;
  line-height: 14px;
}

.aside #mod_contact:hover {
  transform: rotate(3deg);
}

.aside #mod_contact .module_content {
  padding-top: 0;
  padding-left: 0;
}

.aside #mod_contact h2 {
  color: #151f67;
  display: block;
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-size: 2.2rem;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.aside #mod_contact p {
  display: block;
  width: 146px;
  margin: 4px 0 -4px;
}

.aside #mod_contact a {
  display: -ms-flexbox;
  display: flex;
  color: #464646;
  width: 146px;
  height: 55px;
  margin: 4px 0 0;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aside #mod_contact:before {
  content: '';
  display: block;
  position: absolute;
  background-size: cover;
  top: 32px;
  left: 29px;
  width: 39px;
  height: 38px;
  background-image: url("../images/icons/icon1-light.png");
}

.aside #mod_programs a:hover {
  text-decoration: underline;
}

.aside #mod_forum {
  transition: all 0.3s ease;
  position: relative;
  background-image: url("../images/module-card.png");
  background-size: cover;
  width: 265px;
  height: 226px !important;
  padding: 85px 25px 45px 65px;
  font-size: 1.3rem;
  line-height: 14px;
}

.aside #mod_forum:hover {
  transform: rotate(3deg);
}

.aside #mod_forum:hover a {
  text-decoration: underline;
}

.aside #mod_forum .module_content {
  padding-top: 0;
  padding-left: 0;
}

.aside #mod_forum h2 {
  color: #151f67;
  display: block;
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-size: 2.2rem;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.aside #mod_forum p {
  display: block;
  width: 146px;
  margin: 4px 0 -4px;
}

.aside #mod_forum a {
  display: -ms-flexbox;
  display: flex;
  color: #464646;
  width: 146px;
  height: 55px;
  margin: 4px 0 0;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aside #mod_forum a:hover {
  color: #464646;
  background-color: transparent;
}

.aside #mod_forum:before {
  content: '';
  display: block;
  position: absolute;
  background-size: cover;
  top: 32px;
  left: 29px;
  width: 39px;
  height: 38px;
  background-image: url("../images/icons/icon1-light.png");
}

.aside #mod_forum .bolder {
  display: none;
}

.aside #mod_forum #modForum {
  display: none;
}

.aside #mod_questionnaire p {
  font-size: 1.3rem;
  line-height: 15px;
}

.aside #mod_questionnaire fieldset {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
}

.aside #mod_questionnaire ul {
  font-size: 1.3rem;
  margin: 0 0 10px;
  padding: 0;
}

.aside #mod_questionnaire ul li {
  display: block;
}

.aside #mod_questionnaire ul li:not(:last-child) {
  margin: 0 0 4px;
}

.aside #mod_questionnaire ul label {
  margin: 0 0 0 5px;
  color: inherit;
}

.aside #mod_questionnaire ul label .label, .aside #mod_questionnaire ul label .radio {
  font-size: 1.3rem;
  text-align: left;
  border-radius: 0;
}

.aside #mod_questionnaire a {
  transition: all 0.3s ease;
  background-color: #de6005;
  line-height: 44px;
  height: 44px;
  display: block;
  padding: 0 0 0 20px;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  width: 186px;
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
}

.aside #mod_questionnaire a:before, .aside #mod_questionnaire a:after {
  pointer-events: none;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.aside #mod_questionnaire a:before {
  border-width: 0 0 28px 28px;
  border-color: transparent transparent #fff transparent;
  bottom: 0;
  right: 0;
}

.aside #mod_questionnaire a:after {
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  border-width: 5.5px 0 5.5px 10px;
  border-color: transparent transparent transparent #fff;
}

.aside #mod_questionnaire a:hover {
  background-color: #ff9338;
}

.aside #mod_weather {
  background-color: #151f67;
  color: #fff;
  font-size: 1.3rem;
  line-height: 18px;
}

.aside #mod_weather:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #fff transparent;
}

.aside #mod_weather .weatherLoc {
  font-size: 1.7rem;
  line-height: 20px;
}

.aside #mod_weather .weatherTemp {
  font-size: 3rem;
  line-height: 34px;
  font-family: 'Source Sans Pro Bold', sans-serif;
}

.aside #mod_weather .weatherIco {
  margin: 15px 0;
}

.aside #mod_weather .weatherParam {
  display: none;
}

.aside #mod_weather .weatherParam:not(.cloned) {
  display: block;
}

.aside #mod_weather ul {
  padding: 0;
  margin: 25px 0;
  text-align: center;
}

.aside #mod_weather h2 {
  border-bottom: 1px solid #fff;
}

.aside #mod_weather h2:before {
  display: none !important;
}

.aside #mod_timetable a:hover {
  text-decoration: underline;
}

.aside #mod_location a:hover {
  text-decoration: underline;
}

.aside #mod_menu a:hover {
  text-decoration: underline;
}

.aside #mod_login fieldset {
  border: 0;
  margin: 0 auto;
  width: 100%;
  padding: 25px 30px;
}

.aside #mod_login legend {
  display: none;
}

.aside #mod_login label {
  font-family: 'Source Sans Pro Bold', sans-serif;
  font-size: 1.4rem;
  line-height: 18px;
  margin: 0 0 13px;
  text-transform: uppercase;
  color: #151f67;
}

.aside #mod_login br {
  display: none;
}

.aside #mod_login input[type="text"], .aside #mod_login input[type="password"] {
  margin: 0 0 30px;
  padding: 0 10px;
  color: #151f67;
  line-height: 42px;
  height: 44px;
}

.aside #mod_login img {
  display: block;
  margin: 0 auto;
}

.aside #mod_login label, .aside #mod_login input[type="text"], .aside #mod_login input[type="password"] {
  width: 100%;
  display: block;
}

.aside #mod_login a {
  color: #fff;
}

.aside #mod_login a[href='edytuj-konto'] {
  color: #151f67;
  display: block;
}

.aside #mod_login .button-wrapper {
  width: 186px;
}

.aside #mod_calendar2 {
  text-align: center;
  font-size: 1.2rem;
  line-height: 15px;
}

.aside #mod_calendar2 .caption_nav_prev, .aside #mod_calendar2 .caption_nav_next {
  display: block;
  position: relative;
  background-image: url("../images/arrow.png");
  background-size: cover;
  width: 15px;
  height: 27px;
  font-size: 0;
  position: relative;
  z-index: 2;
}

.aside #mod_calendar2 .caption_nav_prev a, .aside #mod_calendar2 .caption_nav_next a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.aside #mod_calendar2 .caption_nav_prev a:hover, .aside #mod_calendar2 .caption_nav_next a:hover {
  background-color: transparent;
}

.aside #mod_calendar2 .caption_nav_prev {
  float: left;
  margin-left: 10px;
  transform: rotate(180deg);
}

.aside #mod_calendar2 .caption_nav_next {
  float: right;
  margin-right: 10px;
}

.aside #mod_calendar2 .module_content {
  padding: 24px 12px 12px;
}

.aside #mod_calendar2 .calendar {
  margin: 0 auto;
  width: 230px;
}

.aside #mod_calendar2 .calendar caption {
  color: inherit;
  padding: 0;
  text-align: center;
  transform: translateY(-20px);
  text-transform: uppercase;
  font-size: 1.8rem;
}

.aside #mod_calendar2 .calendar th {
  height: 25px;
  background-color: #ebebeb;
  vertical-align: middle;
}

.aside #mod_calendar2 .calendar td {
  height: 25px;
  background-color: #ebebeb;
  vertical-align: middle;
}

.aside #mod_calendar2 .calendar td.pr_day {
  background-color: #151f67;
  color: #fff;
}

.aside #mod_calendar2 .calendar td.imp_day {
  background-color: #de6005;
  color: #fff;
}

.aside #mod_calendar2 .calendar td.imp_day a:hover {
  background-color: #ff9338;
}

.aside #mod_calendar2 .calendar td.imp_day a.keyboard-outline {
  outline-color: #151f67 !important;
  outline-offset: -2px !important;
}

.aside #mod_calendar2 .calendar a {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: inherit;
}

.aside #mod_calendar2 .calendar a:hover {
  text-decoration: none;
}

.aside__modules > .module {
  position: relative;
  margin: 0 0 25px;
}

.aside__modules > .module:not(#mod_forum):not(#mod_contact) {
  border: 1px solid #151f67;
}

.aside__modules > .module:not(#mod_forum):not(#mod_contact):hover h2 {
  background-color: #de6005;
}

.aside__modules > .module:not(#mod_forum):not(#mod_contact) h2 {
  transition: all 0.3s ease;
  font-size: 2.6rem;
  line-height: 67px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro Bold', sans-serif;
  color: #fff;
  background-color: #151f67;
  height: 67px;
  margin: 0;
  display: block;
  position: relative;
  text-align: center;
}

.aside__modules > .module:not(#mod_forum):not(#mod_contact) h2 span {
  position: relative;
  display: block;
  z-index: 2;
}

.aside__modules > .module:not(#mod_forum):not(#mod_contact) h2:before, .aside__modules > .module:not(#mod_forum):not(#mod_contact) h2:after {
  content: '';
  display: block;
  position: absolute;
}

.aside__modules > .module:not(#mod_forum):not(#mod_contact) h2:before {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 49px 49px;
  border-color: transparent transparent #fff transparent;
}

.aside__modules > .module:not(#mod_forum):not(#mod_contact) h2:after {
  width: 32px;
  height: 52px;
  left: 13px;
  top: -6px;
  background-image: url("../images/spin.png");
  background-size: cover;
}

.aside__menu {
  margin: 15px 0 20px;
}

.aside__menu .protectedPage {
  position: static;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  width: 14px;
  height: 17px;
  transform: translateY(-2px);
  background-size: cover;
  background-image: url("../images/lock-dark.png");
}

.aside__menu > ul {
  margin: 25px 0;
  padding: 0;
}

.aside__menu > ul > li > a.selected, .aside__menu > ul > li > a:focus {
  background-color: #de6005;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-family: 'Source Sans Pro Bold', sans-serif;
}

.aside__menu > ul > li > a:hover, .aside__menu > ul > li > a:focus {
  text-decoration: none;
}

.aside__menu li > ul {
  padding: 0 0 0 30px;
}

.aside__menu li > ul li a {
  background-color: #151f67;
  color: #fff;
}

.aside__menu li > ul li a.selected, .aside__menu li > ul li a:focus {
  background-color: #de6005;
  color: #fff;
}

.aside__menu li > a {
  color: #464646;
  height: 38px;
  line-height: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 15px;
}

.aside__menu li > a:hover {
  background-color: #de6005;
  color: #fff;
}

.aside__menu .heading {
  margin: 0;
}

@media (max-width: 1199px) {
  .aside__modules > .module:not(#mod_forum):not(#mod_contact) h2 {
    font-size: 2.1rem;
  }
  .aside #mod_contact {
    width: 214px;
    height: 182.5px !important;
    padding: 70px 25px 45px 58px;
    font-size: 1.05rem;
    line-height: 12px;
  }
  .aside #mod_contact:before {
    top: 20px;
    left: 20px;
    transform: scale(0.8) rotate(360deg);
  }
  .aside #mod_contact h2 {
    font-size: 1.8rem;
    line-height: 20px;
  }
  .aside #mod_contact p {
    width: 120px;
    margin: 0;
  }
  .aside #mod_contact a {
    width: 120px;
    height: 45px;
    margin: 0;
  }
  .aside #mod_forum {
    width: 214px;
    height: 182.5px !important;
    padding: 70px 25px 45px 58px;
    font-size: 1.05rem;
    line-height: 12px;
  }
  .aside #mod_forum:before {
    top: 23px;
    left: 20px;
    transform: scale(0.8) rotate(360deg);
  }
  .aside #mod_forum h2 {
    font-size: 1.8rem;
    line-height: 20px;
  }
  .aside #mod_forum p {
    width: 120px;
    margin: 0;
  }
  .aside #mod_forum a {
    width: 120px;
    height: 45px;
    margin: 0;
  }
  .aside #mod_calendar2 .calendar {
    width: 186px;
  }
  .aside #mod_calendar2 .calendar caption {
    font-size: 1.5rem;
  }
  .aside #mod_calendar2 .caption_nav_prev, .aside #mod_calendar2 .caption_nav_next {
    margin: 0;
  }
  .aside #mod_login fieldset {
    padding: 0;
  }
  .aside #mod_login input[type="password"], .aside #mod_login input[type="text"] {
    margin: 0 0 15px;
  }
  .aside #mod_login label {
    margin: 0 0 4px;
  }
}

@media (min-width: 992px) {
  #modulesLeftWrapper > * {
    height: auto !important;
  }
}

@media (max-width: 767px) {
  #modulesLeftWrapper > * {
    height: auto !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #modulesLeftWrapper {
    -ms-flex-direction: row;
    flex-direction: row;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #modulesLeftWrapper > * {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: calc(50% - 30px);
    margin: 15px !important;
  }
}

@media (max-width: 991px) {
  .aside .module_content {
    padding: 24px;
  }
  .aside #mod_calendar2 .module_content {
    width: 260px;
    padding: 40px 15px;
    margin: 0 auto;
  }
  .aside #mod_calendar2 .calendar {
    width: 230px;
  }
  .aside #mod_calendar2 .caption_nav_prev {
    margin-left: 15px;
  }
  .aside #mod_calendar2 .caption_nav_next {
    margin-right: 15px;
  }
  .aside #mod_login {
    text-align: center;
  }
  .aside #mod_login label, .aside #mod_login .button-wrapper {
    float: left;
    clear: both;
    text-align: left;
  }
  .aside #mod_login img {
    display: inline;
  }
  .aside #mod_contact, .aside #mod_forum {
    display: none;
  }
  .aside__menu {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .aside #mod_weather #weatherInfo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .aside #mod_weather #weatherInfo:before, .aside #mod_weather #weatherInfo:after {
    content: " ";
    display: table;
  }
  .aside #mod_weather #weatherInfo:after {
    clear: both;
  }
  .aside #mod_weather ul {
    margin: 0;
  }
  .aside #mod_weather .weatherParam {
    width: 40%;
    margin: 15px 0;
    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .aside #mod_weather .weatherParam:not(.cloned) ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .aside #mod_weather .weatherParam:not(.cloned) li:not(.weatherIco):not(.weatherTemp):not(.weatherLoc) {
    display: none;
  }
  .aside #mod_weather .weatherParam.cloned .weatherIco, .aside #mod_weather .weatherParam.cloned .weatherTemp, .aside #mod_weather .weatherParam.cloned .weatherLoc {
    display: none;
  }
}

@media (max-width: 420px) {
  .aside #mod_weather .weatherParam {
    width: 100%;
  }
  .aside #mod_weather .weatherParam:not(.cloned) {
    display: none;
  }
  .aside #mod_weather .weatherParam.cloned .weatherIco, .aside #mod_weather .weatherParam.cloned .weatherTemp, .aside #mod_weather .weatherParam.cloned .weatherLoc {
    display: block;
  }
  .aside #mod_calendar2 .module_content {
    padding: 25px 15px;
  }
}

.timetable--classlist {
  font-size: 1.6rem;
  line-height: 20px;
  color: #464646;
  padding: 0;
  display: block;
  list-style-type: circle;
  list-style-position: inside;
}

.timetable--classlist a {
  color: inherit;
}

.timetable--classlist a:hover {
  text-decoration: underline;
}

.timetable__info {
  font-size: 1.6rem;
}

.timetable {
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;
  color: #151f67;
}

.timetable caption {
  font-family: 'Source Sans Pro Bold', sans-serif;
  text-align: left;
  border-bottom: 0;
  padding: 0;
  color: inherit;
  line-height: 40px;
}

.timetable th, .timetable td {
  border: 1px solid #151f67;
  padding: 5px;
  vertical-align: middle;
}

.timetable th {
  font-family: 'Source Sans Pro Bold', sans-serif;
  text-align: left;
  color: #de6005;
}

.timetable .txt_err {
  color: #de6005;
  text-align: center;
}

.timetable__holder {
  border: 0;
  margin: 0 auto 20px;
}

@media (max-width: 767px) {
  .timetable {
    font-size: 1.3rem;
  }
  .timetable th, .timetable td {
    width: auto !important;
  }
}

.board {
  position: relative;
  margin-bottom: 60px;
}

.board .board-top {
  height: 12px;
}

.board .board-top-left {
  height: 12px;
  width: 10px;
  background: url("../images/board/boardTopLeft.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.board .board-top-top {
  height: 12px;
  position: absolute;
  left: 10px;
  right: 10px;
  background: url("../images/board/boardTop.png") repeat-x;
}

.board .board-top-right {
  width: 10px;
  height: 12px;
  background: url("../images/board/boardTopRight.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.board .board-center-left {
  width: 10px;
  position: absolute;
  left: 0;
  top: 12px;
  bottom: 12px;
  background: url("../images/board/boardCenterLeft.png") repeat-y;
}

.board .board-center-center {
  position: relative;
  margin: 0 10px 0 10px;
  background: url("../images/board/boardBg.jpg");
  padding: 20px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.board .board-center-right {
  width: 10px;
  position: absolute;
  right: 0;
  top: 12px;
  bottom: 12px;
  background: url("../images/board/boardCenterRight.png") repeat-y;
}

.board .board-bottom-left {
  width: 10px;
  height: 31px;
  position: absolute;
  left: 0;
  bottom: -19px;
  background: url("../images/board/boardBottomLeft.png") no-repeat;
}

.board .board-bottom-right {
  width: 10px;
  height: 31px;
  position: absolute;
  right: 0;
  bottom: -19px;
  background: url("../images/board/boardBottomRight.png") no-repeat;
}

.board .board-bottom-bottom {
  position: absolute;
  bottom: -19px;
  left: 10px;
  right: 10px;
  height: 31px;
  background: url("../images/board/boardBottom.png") repeat-x;
}

.board .board-bottom {
  position: relative;
}

.board .chalk-1 {
  width: 34px;
  height: 9px;
  background: url("../images/board/chalk-1.png") no-repeat;
  position: absolute;
  left: 40px;
  top: 7px;
  z-index: 2;
}

.board .chalk-2 {
  width: 18px;
  height: 9px;
  background: url("../images/board/chalk-2.png") no-repeat;
  position: absolute;
  left: 50%;
  top: 7px;
  z-index: 2;
}

.board .sponge {
  width: 90px;
  height: 81px;
  background: url("../images/board/sponge.png") no-repeat;
  position: absolute;
  right: 30px;
  top: -58px;
  z-index: 2;
}

.board .board-content {
  color: #fff;
  padding-bottom: 45px;
}

.board .board-content strong,
.board .board-content b {
  font-weight: normal;
  font-family: sourceSemibold;
}

.board .board-content img {
  max-width: 100%;
  height: auto;
}

.board .board-content h3 {
  color: #fff;
  font-size: 1.714em;
  margin-top: 2em;
  margin-bottom: 1em;
  background: url("../images/board/bgMenuLeftHeader.png") repeat-x left bottom;
  padding-bottom: 15px;
  font-weight: normal;
}

.board .board-content h3.board-header {
  background: none;
  margin-top: 0;
  font-family: chalk;
  font-size: 2.429em;
}

.board .board-content h4 {
  color: #fff;
  font-size: 1.429em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content h5 {
  color: #fff;
  font-size: 1.286em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content h6 {
  color: #fff;
  font-size: 1.143em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content a,
.board .board-content a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border 0.3s ease 0s;
}

.board .board-content a:hover,
.board .board-content a:focus,
.board .board-content a:visited:hover,
.board .board-content a:visited:focus {
  border-color: transparent;
}

.board .board-content a:focus,
.board .board-content a:visited:focus {
  outline: 2px solid #fff;
}

.board .board-content a:hover:active,
.board .board-content a:visited:hover:active {
  outline: none;
}

.form .group {
  margin: 10px 0;
}

.form .group:before, .form .group:after {
  content: " ";
  display: table;
}

.form .group:after {
  clear: both;
}

.form label {
  width: 180px;
  float: left;
  line-height: 44px;
  display: block;
  text-align: left;
}

.form label > * {
  line-height: 44px;
}

.form p {
  margin: 0;
}

.form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea {
  height: 44px;
  line-height: 42px;
  padding: 0 10px;
  width: calc(100% - 180px);
  float: left;
}

.form textarea {
  resize: none;
  font-size: 1.6rem;
  height: 140px;
}

.form .button-wrapper {
  margin-left: 180px;
}

.form .msgError {
  width: calc(100% - 180px);
  float: right;
}

.form .radio {
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.form .radio:not(:last-child) {
  margin-right: 15px;
}

.form .radio label {
  width: auto;
  margin-right: 5px;
}

.form .upload input[type="text"] {
  margin-bottom: 10px;
}

.form .upload .button-wrapper + input {
  display: none;
}

.attention, .text-err, .txt_com {
  border: 1px solid #bcbcbc;
  padding: 30px 15px 30px 72px;
  position: relative;
  display: block;
}

.attention:before, .text-err:before, .txt_com:before {
  font-family: sans-serif;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: absolute;
  top: calc(50% - 21px);
  left: 15px;
  text-align: center;
  line-height: 42px;
  font-size: 34px;
  display: inline-block;
  border: 1px solid #bcbcbc;
}

.msgError {
  border: 1px solid #de6005;
  padding: 11px 15px 11px 60px;
  position: relative;
  display: block;
  color: #de6005;
  margin: 10px 0 0;
}

.msgError:before {
  content: '!';
  border: 1px solid #de6005;
  font-family: sans-serif;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  left: 15px;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  display: inline-block;
}

.attention:before, .txt_com:before {
  content: 'i';
}

.text-err {
  border-color: #de6005;
  color: #de6005;
}

.text-err:before {
  content: '!';
  border-color: #de6005;
}

@media (max-width: 479px) {
  .form label {
    line-height: 20px;
    padding: 0 0 5px;
  }
  .form label, .form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea, .form .msgError {
    width: 100%;
  }
  .form .button-wrapper {
    margin-left: 0;
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.photoWrapperGallery {
  display: block;
  border: 5px solid #fff;
  -ms-flex: 1 0 33.3333%;
  flex: 1 0 33.3333%;
}

.photoWrapperGallery p {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #de6005;
  color: #151f67;
  font-family: 'Source Sans Pro Bold', sans-serif;
}

.photoWrapperGallery img {
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  height: auto;
}

.photoWrapperGallery img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.photoWrapperGallery a {
  overflow: hidden;
  display: block;
}

.photoWrapperGallery:hover p, .photoWrapperGallery:hover img {
  border-color: #de6005;
}

@media (max-width: 639px) {
  .photoWrapperGallery {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}

@media (max-width: 479px) {
  .photoWrapperGallery {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}

.forum__actions {
  padding: 0;
  margin: 0;
  display: block;
}

.forum__actions:before, .forum__actions:after {
  content: " ";
  display: table;
}

.forum__actions:after {
  clear: both;
}

.forum__actions li {
  display: block;
  float: left;
}

.forum__actions li:not(:last-child) {
  margin-right: 15px;
}

.forum__topics {
  width: 100%;
  color: #151f67;
  border-collapse: collapse;
  border: 1px solid #464646;
}

.forum__topics th {
  font-family: 'Source Sans Pro Bold', sans-serif;
  text-align: left;
}

.forum__topics th.titles {
  width: 80%;
}

.forum__topics th.topics {
  width: 10%;
}

.forum__topics th.answers {
  width: 10%;
}

.forum__topics td a span, .forum__topics td a p {
  margin: 0;
  display: block;
}

.forum__topics td a span {
  font-family: 'Source Sans Pro Bold', sans-serif;
}

.forum__topics th, .forum__topics td {
  padding: 5px;
  border: 1px solid #464646;
}

.listPosts {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: block;
}

.listPosts > li {
  display: block;
}

.listPosts > li:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.postText, .topicText {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.postText:before, .postText:after, .topicText:before, .topicText:after {
  content: " ";
  display: table;
}

.postText:after, .topicText:after {
  clear: both;
}

.topicText {
  margin: 20px 0 0;
  background-color: #f0f0f0;
}

.postAuthor, .topicAuthor {
  padding: 15px;
  width: 200px;
  float: left;
  border-right: 1px dashed #ccc;
}

.postAuthor > *, .topicAuthor > * {
  display: block;
  margin: 0 auto 3px;
  text-align: center;
}

.postContent, .topicContent {
  width: calc(100% - 200px);
  float: left;
  padding: 15px 15px 40px;
  position: relative;
}

.postContent blockquote, .topicContent blockquote {
  border-left: 3px solid #464646;
  margin: 0;
  padding: 5px;
}

.postContent .respondButtonList, .topicContent .respondButtonList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.postContent .respondButtonList a:before, .topicContent .respondButtonList a:before {
  border-bottom-color: #f0f0f0;
}

.respondButtonList {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.respondButtonList:before, .respondButtonList:after {
  content: " ";
  display: table;
}

.respondButtonList:after {
  clear: both;
}

.respondButtonList li {
  display: block;
  float: left;
  margin: 5px;
  font-size: 0;
}

.respondButtonList a {
  font-size: 1.2rem;
  line-height: 28px;
  height: 28px;
}

.respondButtonList a:after {
  right: 24px;
}

.forum__topics--link {
  display: block;
}

.forum__topics--holder {
  overflow-x: auto;
  margin: 0 auto 20px;
}

@media (max-width: 767px) {
  .forum__topics {
    min-width: 620px;
  }
}

@media (max-width: 639px) {
  .postText, .topicText {
    display: block;
  }
  .postAuthor, .topicAuthor {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 15px;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-right: 0;
    border-bottom: 1px dashed #ccc;
  }
  .postAuthor > *, .topicAuthor > * {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 5px 0 0;
  }
  .postContent, .topicContent {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .forumAvatarImage {
    display: none !important;
  }
  .respondButtonList .button-wrapper {
    padding: 0 25px 0 5px;
  }
  .respondButtonList .button-wrapper:after {
    display: none;
  }
}

#advertsTopWrapper img, #advertsLeftWrapper img {
  display: block;
  margin: 15px auto;
}

#crumbpath {
  display: none;
}

#crumbpath a {
  color: inherit;
  text-decoration: underline;
}

#crumbpath a:hover {
  text-decoration: none;
}

#cookiesMsgWrap {
  border-top: 1px solid #151f67 !important;
  color: #fff !important;
  background: #de6005 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

#cookiesMsgWrap a {
  color: #151f67 !important;
}

#cookiesMsgWrap a:hover {
  text-decoration: underline !important;
}

.advertTop {
  text-align: center;
}

.advertTop a {
  display: inline-block;
}

body#tinymce h3, body#tinymce h4, body#tinymce h5 {
  margin: 10px 0;
  border: 0;
  padding: 0;
  background: none;
  font-family: 'Source Sans Pro', sans-serif !important;
}

body#tinymce h3 {
  font-size: 2.4rem;
}

body#tinymce h4 {
  font-size: 2.2rem;
}

body#tinymce h5 {
  font-size: 2rem;
}

body#tinymce h6 {
  font-size: 1.8rem;
}

body#tinymce table {
  border-collapse: collapse;
}

body#tinymce table caption, body#tinymce table td, body#tinymce table th {
  padding: 3px;
  border: 1px solid #151f67 !important;
}

body#tinymce table caption {
  border-bottom: 0 !important;
}

body#tinymce a {
  text-decoration: underline;
}

#welcome {
  margin-bottom: 20px;
}

#welcome a {
  text-decoration: underline;
}

#welcome a:hover {
  text-decoration: none;
}

.board .board-content h3, .board .board-content h4, .board .board-content h5 {
  margin: 10px 0;
  border: 0;
  padding: 0;
  background: none;
  font-weight: 400;
  text-transform: none !important;
}

.board .board-content h3 {
  font-size: 2.4rem;
}

.board .board-content h4 {
  font-size: 2.2rem;
}

.board .board-content h5 {
  font-size: 2rem;
}

.board .board-content h6 {
  font-size: 1.8rem;
}

.board .board-content table {
  border-collapse: collapse;
  width: 100% !important;
}

.board .board-content table caption, .board .board-content table td {
  padding: 3px;
  border: 1px solid #151f67 !important;
}

.board .board-content table caption {
  border: 1px solid #151f67 !important;
  border-bottom: 0;
}

#cookiesMsg {
  width: 100% !important;
  max-width: 900px !important;
  padding: 0 25px !important;
  color: #fff !important;
  background: #de6005 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

#cookiesMsg a {
  color: #151f67 !important;
}

#cookiesMsg a:hover {
  text-decoration: underline !important;
}

.filesWrapper {
  border: 1px solid #151f67;
  margin: 20px 0;
  padding: 15px;
}

.filesWrapper h3 {
  color: #151f67;
  font-weight: 400;
  margin: 0;
}

.filesWrapper ul {
  margin: 20px 0 0;
  padding: 0;
}

.filesWrapper ul li {
  display: block;
}

.pagination {
  width: 100%;
  margin: 0;
  border-radius: 0;
  display: block;
}

.pagination p {
  display: block;
  margin: 15px 0;
}

.pagination ul {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination ul li {
  margin: 0 5px 5px;
  width: 30px;
  height: 30px;
  display: block;
}

.pagination ul li a {
  display: block;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  height: 30px;
  line-height: 32px;
  background-color: #151f67;
}

.pagination ul li a:hover {
  background-color: #de6005;
  text-decoration: none;
}

.pagination ul li a:focus {
  outline: 0;
}

.pagination ul li a.keyboard-outline {
  outline-offset: 2px;
}

.pagination ul .pageActive {
  background-color: #de6005;
}

.pagination ul .pageActive:hover, .pagination ul .pageActive:focus {
  background-color: #151f67;
  text-decoration: none;
}

.sitemap__holder {
  display: block;
  margin: 20px 0;
}

.sitemap__holder h3 {
  display: block;
  margin: 0 0 5px;
  color: #de6005;
}

.sitemap__holder a {
  padding: 3px 0;
  display: inline-block;
  color: #151f67;
}

.sitemap__holder a:hover {
  text-decoration: underline;
}

.sitemap {
  list-style-type: circle;
  display: block;
  padding: 0 0 0 15px;
  margin: 0;
}

.skipLinks {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
}

.skipLinks a,
.skipLinks a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  color: #de6005;
  width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skipLinks a:focus,
.skipLinks a:hover,
.skipLinks a:active,
.skipLinks a:visited:focus,
.skipLinks a:visited:hover,
.skipLinks a:visited:active {
  left: 0;
  background-color: #fff;
  border: 2px solid #de6005;
  opacity: 1;
  outline: none;
}

#jokes {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

#jokes li {
  border-bottom: 1px solid #151f67;
  margin-bottom: 10px;
}

#jokes p {
  margin: 0;
}

#jokes .jokeText {
  margin-bottom: 5px;
}

#jokes .jokeNick {
  border-top: 1px dashed #151f67;
  font-size: 1.2rem;
  padding: 3px 0;
}

.txtMessage iframe ~ small {
  display: block;
  text-align: center;
}

.txtMessage iframe ~ small a {
  color: #464646 !important;
  text-decoration: underline !important;
}

.txtMessage iframe ~ small a:hover {
  text-decoration: none !important;
}

#content_txt {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content_txt .borderNone {
  border: 0;
  margin: 0;
  padding: 0;
}

#content_txt > .text-err:not(:last-child) {
  margin-bottom: 20px;
}

#content_txt table {
  border-collapse: collapse;
  width: 100% !important;
}

#content_txt table caption, #content_txt table td {
  padding: 3px;
  border: 1px solid #151f67;
}

#content_txt table caption {
  color: inherit;
  text-align: center;
  border-bottom-width: 0 !important;
}

.questionnaireList {
  margin: 0 0 10px;
  padding: 0;
}

.questionnaireList li {
  display: block;
}

.questionnaireList li:not(:last-child) {
  margin-bottom: 4px;
}

.questionnaireList label {
  margin-left: 10px;
}

.qWrapper:before, .qWrapper:after {
  content: " ";
  display: table;
}

.qWrapper:after {
  clear: both;
}

.qAnswer {
  float: left;
  font-size: 1.2rem;
  line-height: 15px;
}

.qBar {
  transform: translateY(-15px);
  height: 4px;
  background-color: #de6005;
}

.qPercent {
  font-family: 'Source Sans Pro Bold', sans-serif;
  float: right;
  font-size: 3rem;
  color: #151f67;
  line-height: 36px;
}

@media (max-width: 1199px) {
  .sitemap__wrapper > div {
    -ms-flex: 1 0 33.3333%;
    flex: 1 0 33.3333%;
  }
  .sitemap__holder {
    width: 33.3333%;
  }
}

@media (max-width: 767px) {
  #jokes {
    font-size: 1.6rem;
  }
  #cookiesMsgWrap {
    font-size: 1.4rem !important;
    line-height: 17px !important;
  }
  .sitemap__wrapper > div {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
  .sitemap__holder {
    width: 50%;
  }
}

@media (max-width: 639px) {
  .sitemap__wrapper > div {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .sitemap__holder {
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
  }
}

@media (max-width: 479px) {
  .pagination {
    font-size: 1.3rem;
  }
  .pagination li {
    width: 28px;
    height: 28px;
    line-height: 29px;
    margin: 0 2px 5px 2px;
  }
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #de6005;
  color: #444;
  text-shadow: none;
}

.fancybox-skin img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.fancybox-skin p {
  margin: 10px 0 0;
  color: #fff;
  text-align: justify;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  height: auto !important;
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #de6005;
  border-bottom: 0;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-close::before, .fancybox-close::after {
  background-color: #151f67;
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 4px;
}

.fancybox-close::before {
  transform: rotate(45deg) translateX(11px) translateY(7px);
}

.fancybox-close::after {
  transform: rotate(-45deg) translateX(-7px) translateY(11px);
}

.fancybox-close:hover {
  background-color: #151f67;
}

.fancybox-close:hover::before, .fancybox-close:hover::after {
  background-color: #de6005;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  z-index: 8040;
}

.fancybox-nav:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  background-image: none;
}

.fancybox-nav span:before, .fancybox-nav span:after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 30px;
  background-color: #151f67;
}

.fancybox-prev span {
  left: 10px;
}

.fancybox-prev span:before {
  transform: rotate(45deg) translateX(22px) translateY(14px);
}

.fancybox-prev span:after {
  transform: rotate(-45deg) translateX(0) translateY(8px);
}

.fancybox-next span {
  right: 10px;
}

.fancybox-next span:before {
  transform: rotate(45deg) translateX(0) translateY(8px);
}

.fancybox-next span:after {
  transform: rotate(-45deg) translateX(-22px) translateY(14px);
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background-color: rgba(255, 255, 255, 0.8);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  margin-top: 10px;
  transform: translateY(10px);
  padding: 5px 30px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: white;
  border-radius: 15px;
  color: #fff;
  background-color: #de6005;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url("../images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

.main-footer {
  background-color: #151f67;
  color: #fff;
  height: 105px;
  margin: 50px 0 0;
}

.main-footer a {
  color: #fff;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer ul {
  height: 105px;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.main-footer ul:before, .main-footer ul:after {
  content: " ";
  display: table;
}

.main-footer ul:after {
  clear: both;
}

.main-footer li {
  display: block;
  float: left;
  font-size: 1.3rem;
  line-height: 16px;
}

.main-footer li:not(:last-child) {
  margin-right: 50px;
}

.main-footer li a {
  display: block;
  padding: 10px;
}

.main-footer #goTop {
  float: right;
  margin: 34px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  height: 36px;
  text-transform: uppercase;
  vertical-align: bottom;
  font-size: 1.3rem;
  line-height: 16px;
  position: relative;
  text-align: center;
  width: 130px;
}

.main-footer #goTop:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #fff transparent;
}

.footer--copyright {
  color: #151f67;
  height: 90px;
  line-height: 90px;
  font-size: 1.3rem;
  text-align: right;
}

.footer--copyright p {
  display: inline-block;
  margin: 0;
}

.footer--copyright p a {
  margin: 0;
}

.footer--copyright a {
  display: inline-block;
  color: inherit;
  margin: 0 15px 0 0;
  text-decoration: underline;
}

.footer--copyright a:hover {
  text-decoration: none;
}

@media (max-width: 1199px) {
  .main-footer li:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .main-footer {
    background-color: #de6005;
  }
  .main-footer #goTop {
    width: 110px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .footer--copyright {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-footer {
    height: auto;
  }
  .main-footer #goTop {
    margin: 24px auto;
  }
}
