.articles {

}
.article {
	background-color: #ebebeb;
	position: relative;
	min-height: 222px;
	display: block;
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	margin: 0 0 30px;
	.heading {
		margin: 0 0 25px;
	}
	h4 {
		color: $color1;
		margin: 0 0 25px;
		line-height: 24px;
		font-size: 2.1rem;
		font-family: 'Source Sans Pro Bold', sans-serif;
		text-transform: uppercase;
		a {
			color: inherit;
		}
	}
	a {
		color: #fff;
	}
	p {
		margin: 0;
		font-size: 1.4rem;
		line-height: 17px;
	}
	.protectedPage {
		position: absolute;
		display: block;
		width: 14px;
		height: 17px;
		position: absolute;
		pointer-events: none;
		top: 20px;
		right: 20px;
		background-size: cover;
		background-image: url('../images/lock-color1.png');
	}
}
.article--highlighted {
	background-color: $color1;
	color: #fff;
	.protectedPage {
		background-image: url('../images/lock-basic.png');
	}
	.article__date {
		&:before {
			border-top-color: $color2;
		}
	}
	h4 {
		a {
			color: #fff;
		}
	}
	.article__link {
		&.keyboard-outline {
			outline-color: #ccc !important;
		}
	}
}
.article__date {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 115px;
	height: 115px;
	color: #fff;
	z-index: 2;
	font-size: 1.2rem;
	span {
		display: block;
		transform: translateX(-20px) translateY(-23px);
		width: 60px;
		position: relative;
		z-index: 2;
	}
	&:before {
		top: 0;
		left: 0;
		content: '';
		position: absolute;
		display: block;
		z-index: 2;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 115px 115px 0 0;
		border-color: $color1 transparent transparent transparent;
	}
}
.article__content {
	width: calc(100% - 115px);
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;	
	padding: 25px 50px 70px 25px;
	float: right;
}
.article__image {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 350px;
	overflow: hidden;
	position: relative;
	div {
		overflow: hidden;
	}
	img {
		transition: all .3s ease;
		width: 100%;
	}
	&:hover, &.keyboard-outline {
		img {
			transform: scale(1.1);
			opacity: 0.8;
		}
	}
	& + .article__content {
		display: block;
		width: calc(100% - 350px);
	}
}
.article__link {
	position: absolute;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.8rem;
	bottom: 0;
	right: 0;
	padding: 0 0 0 30px;
	transition: all 0.3s ease;
	background-color: $color2;
	line-height: 65px;
	height: 65px;
	width: 235px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	overflow: hidden;
	&:before, &:after {
		pointer-events: none;
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
	}
	&:before {
		bottom: 0;
		right: 0;
		border-style: solid;
		border-width: 0 0 50px 50px;
		border-color: transparent transparent #fff transparent;
	}
	&:after {
		top: 50%;
		transform: translateY(-50%);
		right: 52px;
		border-width: 5.5px 0 5.5px 10px;
		border-color: transparent transparent transparent #fff;
	}
	&:hover {
		text-decoration: none;
		background-color: $color2 + #333;
	}
	&.keyboard-outline {
		outline-color: $color1 !important;
		outline-offset: 2px !important;
	}
}
@media (max-width: 1199px) {
	.article {
		h4 {
			margin: 0 0 5px;
		}
	}
	.article__content {
		padding: 15px 30px 70px 15px; 
	}
	.article__image {
		width: 250px;
		& + .article__content {
			width: calc(100% - 250px);
		}
	}
}
@media (max-width: 799px) {
	.article {
		height: auto;
		h4 {
			margin: 0;
		}
	}
	.article--highlighted {
		background-color: $color2;
		h4 {
			color: $color1;
			a {
				color: $color1;
			}
		}
		.article__link {
			background-color: #ebebeb;
			color: $color2;
			&:after {
				border-left-color: $color2;
			}
			&:hover {
				background-color: #ebebeb + #333;
			}
		}
	}
	.article__date {
		width: 100%;
		height: auto;
		color: inherit;
		position: static;
		font-size: 1.4rem;
		margin: 0 0 15px;
		span {
			transform: none;
			width: 100%;
		}
		&:before {
			display: none;
		}
	}
	.article__image {
		display: none;
		& + .article__content {
			width: 100%;
		}
	}
	.article__content {
		width: 100%;
		padding: 22px 46px 56px 22px;
	}
	.article__link {
		width: 148px;
		height: 41px;
		line-height: 42px;
		font-size: 1.2rem;
		padding-left: 10px;
		&:before {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 36px 22px;
			border-color: transparent transparent #fff transparent;
		}
		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3.5px 0 3.5px 7px;
			right: 33px;
		}
	}
}
@media (max-width: 767px) {
	.article {
		justify-content: flex-start;
		h4 {
			margin: 0 0 12px;
		}
		.protectedPage {
			top: 5px;
			right: 5px;
		}
	}
	.article__date {
		position: absolute;
		text-align: right;
		width: 90px;
		right: 25px;
		top: 5px;
		left: auto;
	}
	.article__image {
		& + .article__content {
			width: calc(100% - 151px);
		}
	}
	.article__content {
		padding: 22px 0 56px 22px;
		float: left;
		width: calc(100% - 151px);
	}
}
@media (max-width: 479px) {
	.article__content {
		width: 100%;
		padding: 22px 22px 56px;
		h4 {
			width: calc(100% - 80px);
		}
	}
	.article__image {
		& + .article__content {
			width: 100%;
		}
	}
}