.aside {
	.module_content {
		@include clearfix();
		padding: 12px;
	}
	.heading {
		font-size: 2.2rem;
		letter-spacing: 0.5px;
		line-height: 26px;
	}
	a {
		color: inherit;
		transition: all 0.3s ease;
		display: inline-block;
		&.keyboard-outline {
			outline-color: $color1 !important;
		}
	}
	#mod_kzk {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		h2 {
			display: flex !important;
			line-height: 30px !important;
			align-items: center;
			justify-content: center;
		}
	}
	#mod_newsletter {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#mod_jokes {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#mod_calendar {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
		p {
			margin: 0;
		}
	}
	#mod_gallery {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#mod_stats {
		ul {
			padding: 0;
			margin: 0;
		}
	}
	#mod_video {
		a {
			&:hover {
				text-decoration: underline;			
			}
		}
	}
	#mod_contact {
		position: relative;
		transition: all 0.3s ease;
		background-image: url('../images/module-card.png');
		background-size: cover;
		width: 265px;
		height: 226px !important;
		padding: 85px 25px 45px 65px;
		font-size: 1.3rem;
		line-height: 14px;
		&:hover {
			transform: rotate(3deg);
		}
		.module_content {
			padding-top: 0;
			padding-left: 0;
		}
		h2 {
			color: $color1;
			display: block;
			font-family: 'Source Sans Pro Bold', sans-serif;
			font-size: 2.2rem;
			line-height: 24px;
			text-transform: uppercase;
			margin: 0;
		}
		p {
			display: block;
			width: 146px;
			margin: 4px 0 -4px;
		}
		a {
			display: flex;
			color: $basic;
			width: 146px;
			height: 55px;
			margin: 4px 0 0;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-size: cover;
			top: 32px;
			left: 29px;
			width: 39px;
			height: 38px;
			background-image: url('../images/icons/icon1-light.png');
		}	
	}
	#mod_programs {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#mod_forum {
		transition: all 0.3s ease;
		position: relative;
		background-image: url('../images/module-card.png');
		background-size: cover;
		width: 265px;
		height: 226px !important;
		padding: 85px 25px 45px 65px;
		font-size: 1.3rem;
		line-height: 14px;
		&:hover {
			transform: rotate(3deg);
			a {
				text-decoration: underline;
			}
		}
		.module_content {
			padding-top: 0;
			padding-left: 0;
		}
		h2 {
			color: $color1;
			display: block;
			font-family: 'Source Sans Pro Bold', sans-serif;
			font-size: 2.2rem;
			line-height: 24px;
			text-transform: uppercase;
			margin: 0;
		}
		p {
			display: block;
			width: 146px;
			margin: 4px 0 -4px;
		}
		a {
			display: flex;
			color: $basic;
			width: 146px;
			height: 55px;
			margin: 4px 0 0;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			&:hover {
				color: $basic;
				background-color: transparent;
			}
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-size: cover;
			top: 32px;
			left: 29px;
			width: 39px;
			height: 38px;
			background-image: url('../images/icons/icon1-light.png');
		}	
		.bolder {
			display: none;
		}
		#modForum {
			display: none;
		}
	}
	#mod_questionnaire {
		p {
			font-size: 1.3rem;
			line-height: 15px;
		}
		fieldset {
			margin: 0;
			padding: 0;
			width: 100%;
			border: 0;
		}
		ul {
			font-size: 1.3rem;
			margin: 0 0 10px;
			padding: 0;
			li {
				display: block;
				&:not(:last-child) {
					margin: 0 0 4px;
				}
			}
			label {
				margin: 0 0 0 5px;
				color: inherit;
				.label, .radio {
					font-size: 1.3rem;
					text-align: left;
					border-radius: 0;
				}
			}
		}
		a {
			transition: all 0.3s ease;
			background-color: $color2;
			line-height: 44px;
			height: 44px;
			display: block;
			padding: 0 0 0 20px;
			position: relative;
			text-transform: uppercase;
			color: #fff;
			width: 186px;
			font-family: 'Source Sans Pro Bold', sans-serif;
			font-size: 1.6rem;
			overflow: hidden;
			&:before, &:after {
				pointer-events: none;
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				position: absolute;
			}
			&:before {
				border-width: 0 0 28px 28px;
				border-color: transparent transparent #fff transparent;
				bottom: 0;
				right: 0;
			}
			&:after {
				top: 50%;
				transform: translateY(-50%);
				right: 32px;
				border-width: 5.5px 0 5.5px 10px;
				border-color: transparent transparent transparent #fff;
			}
			&:hover {
				background-color: $color2 + #333;
			}
		}
	}
	#mod_weather {
		background-color: $color1;
		color: #fff;
		font-size: 1.3rem;
		line-height: 18px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -1px;
			right: -1px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 50px 50px;
			border-color: transparent transparent #fff transparent;
		}
		.weatherLoc {
			font-size: 1.7rem;
			line-height: 20px;
		}
		.weatherTemp {
			font-size: 3rem;
			line-height: 34px;
			font-family: 'Source Sans Pro Bold', sans-serif;
		}
		.weatherIco {
			margin: 15px 0;
		}
		.weatherParam {
			display: none;
			&:not(.cloned) {
				display: block;
			}
		}
		ul {
			padding: 0;
			margin: 25px 0;
			text-align: center;
		}
		h2 {
			border-bottom: 1px solid #fff;
			&:before {
				display: none !important;
			}
		}
	}
	#mod_timetable {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#mod_location {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#mod_menu {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	#mod_login {
		fieldset {
			border: 0;
			margin: 0 auto;
			width: 100%;
			padding: 25px 30px;
		}
		legend {
			display: none;
		}
		label {
			font-family: 'Source Sans Pro Bold', sans-serif;
			font-size: 1.4rem;
			line-height: 18px;
			margin: 0 0 13px;
			text-transform: uppercase;
			color: $color1;
		}
		br {
			display: none;
		}
		input[type="text"], input[type="password"] {
			margin: 0 0 30px;
			padding: 0 10px;
			color: $color1;
			line-height: 42px;
			height: 44px;
		}
		img {
			display: block;
			margin: 0 auto;
		}
		label, input[type="text"], input[type="password"] {
			width: 100%;
			display: block;
		}
		a {
			color: #fff;
		}
		a[href='edytuj-konto'] {
			color: $color1;
			display: block;
		}
		.button-wrapper {
			width: 186px;
		}
	}
	#mod_calendar2 {
		text-align: center;
		font-size: 1.2rem;
		line-height: 15px;
		.caption_nav_prev, .caption_nav_next {
			display: block;
			position: relative;
			background-image: url('../images/arrow.png');
			background-size: cover;
			width: 15px;
			height: 27px;
			font-size: 0;
			position: relative;
			z-index: 2;
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				&:hover {
					background-color: transparent;
				}
			}
		}
		.caption_nav_prev {
			float: left;
			margin-left: 10px;
			transform: rotate(180deg);
		}
		.caption_nav_next {
			float: right;
			margin-right: 10px;
		}
		.module_content {
			padding: 24px 12px 12px;
		}
		.calendar {
			margin: 0 auto;
			width: 230px;
			caption {
				color: inherit;
				padding: 0;
				text-align: center;
				transform: translateY(-20px);
				text-transform: uppercase;
				font-size: 1.8rem;
			}
			th {
				height: 25px;
				background-color: #ebebeb;
				vertical-align: middle;
			}
			td {
				height: 25px;
				background-color: #ebebeb;
				vertical-align: middle;
				&.pr_day {
					background-color: $color1;
					color: #fff;
				}
				&.imp_day {
					background-color: $color2;
					color: #fff;
					a {
						&:hover {
							background-color: $color2 + #333;
						}
						&.keyboard-outline {
							outline-color: $color1 !important;
							outline-offset: -2px !important;
						}
					}
				}
			}
			a {
				display: block;
				width: 100%;
				height: 25px;
				line-height: 25px;
				color: inherit;
				&:hover {
					text-decoration: none;
				}
			}
			.hide {
				// display: none;
			}
		}
	}
}
// Add heading which has a spin (excluding forum and contact)
.aside__modules {
	& > .module {
		position: relative;
		margin: 0 0 25px;
		&:not(#mod_forum):not(#mod_contact) { 
			border: 1px solid $color1;
			&:hover {
				h2 {
					background-color: $color2;
				}
			}
			h2 {
				transition: all 0.3s ease;
				font-size: 2.6rem;
				line-height: 67px;
				text-transform: uppercase;
				font-family: 'Source Sans Pro Bold', sans-serif;
				color: #fff;
				background-color: $color1;
				height: 67px;
				margin: 0;
				display: block;
				position: relative;
				text-align: center;
				span {
					position: relative;
					display: block;
					z-index: 2;
				}
				&:before, &:after {
					content: '';
					display: block;
					position: absolute;
				}
				&:before {
					bottom: 0;
					right: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 49px 49px;
					border-color: transparent transparent #fff transparent;
				}
				&:after {
					width: 32px;
					height: 52px;
					left: 13px;
					top: -6px;
					background-image: url('../images/spin.png');
					background-size: cover;
				}
			}
		}
	}
}
.aside__menu {
	margin: 15px 0 20px;
	.protectedPage {
		position: static;
		display: inline-block;
		vertical-align: middle;
		margin-left: 7px;
		width: 14px;
		height: 17px;
		transform: translateY(-2px);
		background-size: cover;
		background-image: url('../images/lock-dark.png');
	}
	& > ul {
		margin: 25px 0;
		padding: 0;
		& > li {
			& > a {
				&.selected, &:focus {
					background-color: $color2;
					text-decoration: none;
					color: #fff;
					font-weight: normal;
					font-family: 'Source Sans Pro Bold', sans-serif;
				}
				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}
	}
	li {
		& > ul {
			padding: 0 0 0 30px;
			li {
				a {
					background-color: $color1;
					color: #fff;
					&.selected, &:focus {
						background-color: $color2;
						color: #fff;
					}
				}
			}
		}
		& > a {
			color: $basic;
			height: 38px;
			line-height: 18px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 0 15px;
			&:hover {
				background-color: $color2;
				color: #fff;
			}
		}
	}
	.heading {
		margin: 0;
	}
}
@media (max-width: 1199px) {
	.aside__modules {
		& > .module {
			&:not(#mod_forum):not(#mod_contact) { 
				h2 {
					font-size: 2.1rem;
				}
			}
		}
	}
	.aside {
		#mod_contact {
			width: 214px;
			height: 182.5px !important;
			padding: 70px 25px 45px 58px;
			font-size: 1.05rem;
			line-height: 12px;
			&:before {
				top: 20px;
				left: 20px;
				transform: scale(0.8) rotate(360deg);
			}
			h2 {
				font-size: 1.8rem;
				line-height: 20px;
			}
			p {
				width: 120px;
				margin: 0;
			}
			a {
				width: 120px;
				height: 45px;
				margin: 0;
			}
		}
		#mod_forum {
			width: 214px;
			height: 182.5px !important;
			padding: 70px 25px 45px 58px;
			font-size: 1.05rem;
			line-height: 12px;
			&:before {
				top: 23px;
				left: 20px;
				transform: scale(0.8) rotate(360deg);
			}
			h2 {
				font-size: 1.8rem;
				line-height: 20px;
			}
			p {
				width: 120px;
				margin: 0;
			}
			a {
				width: 120px;
				height: 45px;
				margin: 0;
			}
		}
		#mod_calendar2 {
			.calendar {
				width: 186px;
				caption {
					font-size: 1.5rem;
				}
			}
			.caption_nav_prev, .caption_nav_next {
				margin: 0;
			}
		}
		#mod_login {
			fieldset {
				padding: 0;
			}
			input[type="password"], input[type="text"] {
				margin: 0 0 15px;
			}
			label {
				margin: 0 0 4px;
			}
		}
	}
}
@media (min-width: 992px) {	#modulesLeftWrapper {
		& > * {
			height: auto !important;
		}
	}
}
@media (max-width: 767px) {
	#modulesLeftWrapper {
		& > * {
			height: auto !important;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#modulesLeftWrapper {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		& > * {
			flex: 1 1 auto;
			width: calc(50% - 30px);
			margin: 15px !important;
		}
	}
}
@media (max-width: 991px) {
	.aside {
		.module_content {
			padding: 24px;
		}
		#mod_calendar2 {
			.module_content {
				width: 260px;
				padding: 40px 15px;
				margin: 0 auto;
			}
			.calendar {
				width: 230px;
			}
			.caption_nav_prev {
				margin-left: 15px;
			}
			.caption_nav_next {
				margin-right: 15px;
			}
		}
		#mod_login {
			text-align: center;
			label, .button-wrapper {
				float: left;
				clear: both;
				text-align: left;
			}
			img {
				display: inline;
			}
		}
		#mod_contact, #mod_forum {
			display: none;
		}
	}
	.aside__menu {
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	.aside {
		#mod_weather {
			#weatherInfo {
				@include clearfix();
				display: flex;
				align-items: center;
				justify-content: center;
			}
			ul {
				margin: 0;
			}
			.weatherParam {
				width: 40%;
				margin: 15px 0;
				float: left;
				display: flex;
				align-items: stretch;
				justify-content: center;
				&:not(.cloned) {
					ul {
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-direction: column;
					}
					li {
						&:not(.weatherIco):not(.weatherTemp):not(.weatherLoc) {
							display: none;
						}
					}
				}
				&.cloned {
					.weatherIco, .weatherTemp, .weatherLoc {
						display: none;
					}
				}
			}
		}	
	}
}
@media (max-width: 420px) {
	.aside {
		#mod_weather {
			.weatherParam {
				width: 100%;
				&:not(.cloned) {
					display: none;
				}
				&.cloned {
					.weatherIco, .weatherTemp, .weatherLoc {
						display: block;
					}
				}
			}
		}
		#mod_calendar2 {
			.module_content {
				padding: 25px 15px;
			}
		}
	}
}