.main-footer {
	background-color: $color1;
	color: #fff;
	height: 105px;
	margin: 50px 0 0;
	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		@include clearfix();
		height: 105px;
		display: flex;
		text-transform: uppercase;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
		margin: 0;
	}
	li {
		display: block;
		float: left;
		font-size: 1.3rem;
		line-height: 16px;
		&:not(:last-child) {
			margin-right: 50px;
		}
		a {
			display: block;
			padding: 10px;
		}
	}
	#goTop {
		float: right;
		margin: 34px 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 36px;
		text-transform: uppercase;
		vertical-align: bottom;
		font-size: 1.3rem;
		line-height: 16px;
		position: relative;
		text-align: center;
		width: 130px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5.5px 10px 5.5px;
			border-color: transparent transparent #fff transparent;
		}
	}
}
.footer--copyright {
	color: $color1;
	height: 90px;
	line-height: 90px;
	font-size: 1.3rem;
	text-align: right;
	p {
		display: inline-block;
		margin: 0;
		a {
			margin: 0;
		} 
	}
	a {
		display: inline-block;
		color: inherit;
		margin: 0 15px 0 0;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
@media (max-width: 1199px) {
	.main-footer {
		li {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}
@media (max-width: 991px) {
	.main-footer {
		background-color: $color2;
		#goTop {
			width: 110px;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.footer--copyright {
		text-align: center;
	}
}
@media (max-width: 767px) {
	.main-footer {
		height: auto;
		#goTop {
			margin: 24px auto;
		}
	}
}