.forum__actions {
	@include clearfix();
	padding: 0;
	margin: 0;
	display: block;
	li {
		display: block;
		float: left;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}
.forum__topics {
	width: 100%;
	color: $color1;
	border-collapse: collapse;
	border: 1px solid $basic;
	th {
		font-family: 'Source Sans Pro Bold', sans-serif;
		text-align: left;
		&.titles {
			width: 80%;
		}
		&.topics {
			width: 10%;
		}
		&.answers {
			width: 10%;
		}
	}
	td {
		a {
			span, p {
				margin: 0;
				display: block;
			}
			span {
				font-family: 'Source Sans Pro Bold', sans-serif;
			}
		}
	}
	th, td {
		padding: 5px;
		border: 1px solid $basic;
	}
}
.listPosts {
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	display: block;
	& > li {
		display: block;
		&:not(:last-child) {
			border-bottom: 1px dashed #ccc;
		}
	}
}
.postText, .topicText {
	@include clearfix();
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.topicText {
	margin: 20px 0 0;
	background-color: #f0f0f0;
}
.postAuthor, .topicAuthor {
	padding: 15px;		
	width: 200px;
	float: left;
	border-right: 1px dashed #ccc;
	& > * {
		display: block;
		margin: 0 auto 3px;
		text-align: center;
	}
}
.postContent, .topicContent {
	width: calc(100% - 200px);
	float: left;
	padding: 15px 15px 40px;
	position: relative;
	blockquote {
		border-left: 3px solid $basic;
		margin: 0;
		padding: 5px;
	}
	.respondButtonList {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		a {
			&:before {
				border-bottom-color: #f0f0f0;
			}
		}
	}
}
.respondButtonList {
	@include clearfix();
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	li {
		display: block;
		float: left;
		margin: 5px;
		font-size: 0;
	}
	a {
		font-size: 1.2rem;
		line-height: 28px;
		height: 28px;
		&:after {
			right: 24px;
		}
	}
}
.forum__topics--link {
	display: block;
}
.forum__topics--holder {
	overflow-x: auto;
	margin: 0 auto 20px;
}
@media (max-width: 767px) {
	.forum__topics {
		min-width: 620px;
	}
}
@media (max-width: 639px) {
	.listPosts {
	}
	.postText, .topicText {
		display: block;
	}
	.postAuthor, .topicAuthor {
		width: 100%;
		display: flex;
		padding: 5px 15px;
		align-items: stretch;
		justify-content: flex-start;
		border-right: 0;
		border-bottom: 1px dashed #ccc;
		& > * {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 5px 0 0;
		}
	}
	.postContent, .topicContent {
		width: 100%;
	}
}
@media (max-width: 479px) {
	.forumAvatarImage {
		display: none !important;
	}
	.respondButtonList {
		.button-wrapper {
			padding: 0 25px 0 5px;
			&:after {
				display: none;
			}
		}
	}
}