.headmodules {
	background-color: $color1;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
	margin: 0 0 30px;
	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
		&.button {
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.headmodules__holder {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: stretch;
	justify-content: center;	
	a {
		display: inline-block;
		&.keyboard-outline {
			outline-color: #fff;
		}
	}
	& > li {
		position: relative;
		width: 220px;
		line-height: 22px;
		&:hover {
			.module_icon {
				&:before {
					transform: rotate(6deg);
				}
			}
		}
		&:not(:last-child) {
			margin-right: 95px;
		}
		h2 {
			font-family: 'Source Sans Pro Bold', sans-serif;
			font-size: 2.4rem;
			line-height: 28px;
			text-transform: uppercase;
			margin: 20px 0 15px;
		}
		ul {
			padding: 0;
			margin: 0;
		}
		p {
			margin: 0;
		}
		.module_icon {
			width: 113px;
			height: 128px;
			background-image: url('../images/headmodules-card.png');
			background-size: cover;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			&:before {
				transition: all 0.3s ease;
				content: '';
				position: static;
				display: block;
				background-size: cover;
			}
		}
	}
	#mod_calendar {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon1-dark.png');
				width: 52px;
				height: 56px;
			}
		}
	}
	#mod_stats {
		.statsCount {
			font-weight: bold;
		}
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon2-dark.png');
				width: 60px;
				height: 61px;
			}
		}
	}
	#mod_kzk {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon3-dark.png');
				width: 60px;
				height: 55px;
			}
		}
	}
	#mod_location {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon4-dark.png');
				width: 60px;
				height: 58px;
			}
		}
	}
	#mod_menu {
		.module_icon {
			&:before {
				width: 63px;
				height: 59px;
				background-image: url('../images/icons/icon7-dark.png');
			}
		}
	}
	#mod_gallery {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon-dark.png');
			}
		}
	}
	#mod_jokes {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon-dark.png');
			}
		}
	}
	#mod_video {
		.module_icon {
			&:before {
				width: 61px;
				height: 65px;
				background-image: url('../images/icons/icon6-dark.png');
			}
		}
	}
	#mod_timetable {
		.module_icon {
			&:before {
				width: 52px;
				height: 64px;
				background-image: url('../images/icons/icon8-dark.png');
			}
		}
	}
	#mod_programs {
		.module_icon {
			&:before {
				width: 52px;
				height: 64px;
				background-image: url('../images/icons/icon10-dark.png');
			}
		}
	}
	#mod_contact {
		.module_icon {
			&:before {
				width: 59px;
				height: 54px;
				background-image: url('../images/icons/icon5-dark.png');
			}
		}
	}
	#mod_login {
		.module_icon {
			&:before {
				width: 47px;
				height: 64px;
				background-image: url('../images/icons/icon9-dark.png');
			}
		}
		fieldset {
			border: 0;
			padding: 0;
			margin: 0;
		}
		legend {
			display: none;
		}
		label {
			display: block;
			float: left;
			width: 50px;	
			line-height: 34px;
			margin: 0 0 10px;		
		}
		input[type="text"], input[type="password"] {
			height: 34px;
			line-height: 32px;
			padding: 0 10px;
			width: calc(100% - 50px);
			float: left;
			display: block;
			margin: 0 0 10px;
		}
		br {
			display: none;
		}
		img {
			display: none;
		}
		a[href='wyloguj_sie'] {
			&:before {
				border-bottom-color: $color1;
			}
		}
		a[href='edytuj-konto'] {
			display: block;
		}
		.button-wrapper {
			float: right;
			&:before {
				border-bottom-color: $color1;
			}
		}
	}
}
@media (max-width: 991px) {
	.headmodules {
		padding: 0;
		margin: 0;
	}
	.headmodules__holder {
		@include clearfix();
		padding: 50px 0 40px;
		display: block;
		text-align: center;
		font-size: 0;
		& > li {
			@include clearfix();
			display: inline-block;
			width: 305px;
			vertical-align: top;
			margin: 0 20px 50px;
			text-align: left;
			&:not(:last-child) {
				margin-right: 0;
			}
			&:nth-child(odd) {
				margin-right: 25px;
			}
			&:nth-child(even) {
				margin-left: 25px;
			}
			h2 {
				margin: 0 0 15px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				line-height: 24px;
			}
			.module_content {
				float: right;
				font-size: 1.6rem;
				width: calc(100% - 100px);
			}
			.module_icon {
				margin-top: 5px;
				width: 80px;
				height: 91px;
				float: left;
				&:before {
					transform: scale(0.75);
				}
			}
			&:hover {
				.module_icon {
					&:before {
						transform: scale(0.75) rotate(6deg);
					}
				}
			}
		}
	}
}
@media (max-width: 799px) {
	.headmodules__holder {
		& > li {
			width: 305px;
		}
	}
}
@media (max-width: 767px) {
	.headmodules__holder {
		padding: 50px 0 75px;
		& > li {
			display: block;	
			margin: 0 auto 30px;
			&:not(:last-child), &:nth-child(odd), &:nth-child(even) {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}
@media (max-width: 499px) {
	.headmodules__holder {
		#mod_login {
			fieldset {
				max-width: 160px;
			}
			label, input[type="text"], input[type="password"] {
				float: none;
				width: 100%;
			}
			label {
				line-height: 16px;
				margin: 0 0 5px;
			}
			.button-wrapper {
				float: none;
			}
		}
	}
}