.hero {
	position: relative;
	height: 526px;
	.container-fluid, .row, .col-xs-12 {
		padding: 0 !important;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
.hero--mobile {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

}
.hero__carousel {
	position: absolute;
	height: 442px;
	width: 1170px;
	left: calc(50% - 585px);
}
.hero__objects {
	position: absolute;
	height: 442px;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 7;
}
.hero__background {
	height: 442px;
	background-size: cover;
	background-position: center center;
}
.hero__content {
	position: absolute;
	z-index: 8;
	top: 83px;
	left: calc(50% - 500px);
	color: #fff;
	h1 {
		margin: 0;
		text-transform: uppercase;
		font-family: 'Source Sans Pro Bold', sans-serif;
		font-weight: 400;
		padding: 24px 50px 24px 20px;
		font-size: 3.8rem;
		line-height: 44px;
		display: inline-block;
		width: 495px;
		background-color: rgba(21,31,103, 0.8);
	}
	& > div {
		background-color: rgba(21,31,103, 0.8);
		padding: 2px 70px 20px 20px;
		font-size: 1.8rem;
		line-height: 20px;
		width: 356px;
	}
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	p {
		margin: 0;
		&:not(:last-child) {
			margin: 0 0 5px;
		}
	}
}
.hero__terrain {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 84px;
	background-size: cover;
	background-image: url('../images/hero/terrain.png');
	width: 100%;
}
.hero__clouds {
	position: absolute;
	left: calc(50% + 640px);
	top: 160px;
}
.hero__objects--left {
	position: absolute;
	bottom: 0;
	right: calc(50% + 490px);
}
.hero__objects--right {
	position: absolute;
	bottom: 0;
	left: calc(50% + 390px);
}
.hero__objects--person {
	position: absolute;
	bottom: 0;
	left: calc(50% + 720px);
}
@media (max-width: 1560px) {
	.hero__clouds, .hero__objects--person {
		display: none;
	}
}
@media (max-width: 1520px) {
	.hero__objects--right {
		left: auto;
		right: 25px;
	}
	.hero__objects--left {
		left: -10px;
		right: auto;
	}
	.hero__content {
		left: calc(50% - 350px);
	}
}
@media (max-width: 1400px) {
	.hero__objects--left {
		left: -60px;
	}
}
@media (max-width: 1300px) {
	.hero__objects--left {
		left: -70px;
	}
	.hero__content {
		left: calc(50% - 250px);
	}
}
@media (max-width: 1199px) {
	.hero__carousel {
		width: 100%;
		left: 0;
		right: 0;
	}
	.hero__objects--left {
		left: -65px;
	}
	.hero__objects--right {
		right: 25px;
	}
	.hero__content {
		top: 25px;
		left: calc(50% - 200px);
	}
}
@media (max-width: 991px) {
	.hero {
		height: 708px;
	}
	.hero--mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 74px;
		background-color: $color2;
		color: $color1;
		h2 {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
			font-size: 3.2rem;
			line-height: 36px;
			margin: 0;
		}
	}
	.hero__terrain {
		bottom: 0;
	}
	.hero__content {
		left: 60px;
		top: 20px;
	}
	.hero__carousel, .hero__objects, .hero__background {
		height: 624px;
	}
}
@media (max-width: 639px) {
	.hero {
		height: 451px;
	}
	.hero__carousel, .hero__objects, .hero__background {
		height: 416px;
	}
	.hero--mobile {
		height: 51px;
		h2 {
			font-size: 2.8rem;
		}
	}
	.hero__content {
		top: 20px;
		left: 40px;
		padding: 17px 25px 17px 14px;
		h1 {
			font-size: 2.8rem;
			line-height: 34px;
		}
		& > div {
			width: 260px;
		}
		a {
			font-size: 1.3rem;
		}
	}
	.hero__terrain {
		height: 35px;
		bottom: 0;
	}
	.hero__objects--left {
		left: 20px;
		width: 160px;
	}
	.hero__objects--right {
		width: 130px;
		right: 85px;
	}
	.hero__objects--person {
		display: block;
		right: 52px;
		left: auto;
		width: 20px;
	}
}
@media (max-width: 560px) {
	.hero__content {
		left: 25px;
		right: 25px;
		top: 0;
		h1 {
			width: 100%;
		}
	}
}
@media (max-width: 479px) {
	.hero__content {
		left: 15px;
		right: 15px;
		top: 25px;
		h1 {
			font-size: 2.4rem;
			line-height: 26px;
		}
		& > div {
			font-size: 1.4rem;
			line-height: 16px;
		}
	}
	.hero--mobile {
		h2 {
			font-size: 2.3rem;
			line-height: 25px;
		}
	}
}