#advertsTopWrapper, #advertsLeftWrapper {
	img {
		display: block;
		margin: 15px auto;
	}
}
#crumbpath {
	display: none; //tmp
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
#cookiesMsgWrap {
	border-top: 1px solid $color1 !important;
	color: #fff !important;
	background: $color2 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	a {
		color: $color1 !important;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
.advertTop {
	text-align: center;
	a {
		display: inline-block;
	}
}
body#tinymce {
	h3, h4, h5 {
		margin: 10px 0;
		border: 0;
		padding: 0;
		background: none;
		font-family: 'Source Sans Pro', sans-serif !important;
	}
	h3 {
		font-size: 2.4rem;
	}
	h4 {
		font-size: 2.2rem;
	}
	h5 {
		font-size: 2rem;
	}
	h6 {
		font-size: 1.8rem;
	}
	table {
		border-collapse: collapse;
		caption, td, th {
			padding: 3px;
			border: 1px solid $color1 !important;
		}
		caption {
			border-bottom: 0 !important;
		}
	}
	a {
		text-decoration: underline;
	}
}
#welcome {
	margin-bottom: 20px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.board {
	.board-content {
		h3, h4, h5 {
			margin: 10px 0;
			border: 0;
			padding: 0;
			background: none;
			font-weight: 400;
			text-transform: none !important;
		}
		h3 {
			font-size: 2.4rem;
		}
		h4 {
			font-size: 2.2rem;
		}
		h5 {
			font-size: 2rem;
		}
		h6 {
			font-size: 1.8rem;
		}
		table {
			border-collapse: collapse;
			width: 100% !important;
			caption, td {
				padding: 3px;
				border: 1px solid $color1 !important;
			}
			caption {
				border: 1px solid $color1 !important;
				border-bottom: 0;
			}
		}
	}
}
#cookiesMsg {
	width: 100% !important;
	max-width: 900px !important;
	padding: 0 25px !important;
	color: #fff !important;
	background: $color2 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	a {
		color: $color1 !important;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
.filesWrapper {
	border: 1px solid $color1;
	margin: 20px 0;
	padding: 15px;
	h3 {
		color: $color1;
		font-weight: 400;
		margin: 0;
	}
	ul {
		margin: 20px 0 0;
		padding: 0;
		li {
			display: block;
		}
	}
}
.pagination {
	width: 100%;
	margin: 0;
	border-radius: 0;
	display: block;
	p {
		display: block;
		margin: 15px 0;
	}
	ul {
		text-align: center;
		display: flex;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		li {
			margin: 0 5px 5px;
			width: 30px;
			height: 30px;
			display: block;
			a {
				display: block;
				border-radius: 5px;
				color: #fff;
				width: 100%;
				height: 30px;
				line-height: 32px;
				background-color: $color1;
				&:hover {
					background-color: $color2;
					text-decoration: none;
				}
				&:focus {
					outline: 0;
				}
				&.keyboard-outline {
					outline-offset: 2px;
				}
			}
		}
		.pageActive {
			background-color: $color2;
			&:hover, &:focus {
				background-color: $color1;
				text-decoration: none;
			}
		}
	}
}
.sitemap__holder {
	display: block;
	margin: 20px 0;
	h3 {
		display: block;
		margin: 0 0 5px;
		color: $color2;
	}
	a {
		padding: 3px 0;
		display: inline-block;
		color: $color1;
		&:hover {
			text-decoration: underline;
		}
	}
}
.sitemap {
	list-style-type: circle;
	display: block;
	padding: 0 0 0 15px;
	margin: 0;
}
.skipLinks {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.skipLinks a,
.skipLinks a:visited {
    display: inline-block;
    left: -9999px;
    padding: 7px 10px;
    position: absolute;
    text-decoration: none;
    z-index: 100;
    color: $color2;
    width: 200px;
    text-align: center;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    opacity: 0
}
.skipLinks a:focus,
.skipLinks a:hover,
.skipLinks a:active,
.skipLinks a:visited:focus,
.skipLinks a:visited:hover,
.skipLinks a:visited:active {
    left: 0;
    background-color: #fff;
    border: 2px solid $color2;
    opacity: 1;
    outline: none;
}
#jokes {
	margin: 0;
	padding: 0;
	font-size: 1.8rem;
	li {
		border-bottom: 1px solid $color1;
		margin-bottom: 10px;
	}
	p {
		margin: 0;
	}
	.jokeText {
		margin-bottom: 5px;
	}
	.jokeNick {
		border-top: 1px dashed $color1;
		font-size: 1.2rem;
		padding: 3px 0;
	}
}
.txtMessage {
	iframe {
		& ~ small {
			display: block;
			text-align: center;
			a {
				color: $basic !important;
				text-decoration: underline !important;
				&:hover {
					text-decoration: none !important;
				}
			}
		}
	}
}
#content_txt {
    word-wrap: break-word;
    overflow-wrap: break-word;
	.borderNone {
		border: 0;
		margin: 0;
		padding: 0;
	}
	& > .text-err {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	table {
		border-collapse: collapse;
		width: 100% !important;
		caption, td {
			padding: 3px;
			border: 1px solid $color1;
		}
		caption {
			color: inherit;
			text-align: center;
			border-bottom-width: 0 !important;
		}
	}
}
.questionnaireList {
	margin: 0 0 10px;
	padding: 0;
	li {
		display: block;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	label {
		margin-left: 10px;
	}
}
.qWrapper {
	@include clearfix();
}
.qAnswer {
	float: left;
	font-size: 1.2rem;
	line-height: 15px;
}
.qBar {
	transform: translateY(-15px);
	height: 4px;
	background-color: $color2;
}
.qPercent {
	font-family: 'Source Sans Pro Bold', sans-serif;
	float: right;
	font-size: 3rem;
	color: $color1;
	line-height: 36px;
}
@media (max-width: 1199px) {
	.sitemap__wrapper {
		& > div {
			flex: 1 0 33.3333%;
		}
	}
	.sitemap__holder {
		width: 33.3333%;
	}
}
@media (max-width: 767px) {
	#jokes {
		font-size: 1.6rem;
	}
	#cookiesMsgWrap {
		font-size: 1.4rem !important;
		line-height: 17px !important;
	}
	.sitemap__wrapper {
		& > div {
			flex: 1 0 50%;
		}
	}
	.sitemap__holder {
		width: 50%;
	}
}
@media (max-width: 639px) {
	.sitemap__wrapper {
		& > div {
			flex: 1 0 100%;
		}
	}
	.sitemap__holder {
		width: 100%;
		max-width: 300px;
		margin: 15px auto;
	}
}
@media (max-width: 479px) {
	.pagination {
		font-size: 1.3rem;
		li {
			width: 28px;
			height: 28px;
			line-height: 29px;
			margin: 0 2px 5px 2px;
		}
	}
}