.modules-main {
	& > ul {
		display: flex;
		align-items: center;
		padding: 0;
		justify-content: center;
		& > li {
			&.modulesLeftMain, &.no-count {
				display: none;
			}
			& > div {
				transition: all 0.3s ease;
				cursor: pointer;
				position: relative;
				background-image: url('../images/module-card.png');
				background-size: cover;
				width: 265px;
				height: 226px;
				padding: 85px 25px 45px 65px;
				font-size: 1.3rem;
				line-height: 14px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					background-size: cover;
				}
				&:hover {
					transform: rotate(3deg);
				}
			}
			&:not(:last-child) {
				margin-right: 30px;
			}
			h2 {
				color: $color1;
				display: block;
				font-family: 'Source Sans Pro Bold', sans-serif;
				font-size: 2.2rem;
				line-height: 24px;
				text-transform: uppercase;
				margin: 0;
			}
			p {
				display: block;
				width: 146px;
				margin: 4px 0 -4px;
			}
			a {
				display: flex;
				color: $basic;
				width: 146px;
				height: 55px;
				margin: 4px 0 0;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		#mod_contact {
			&:before {
				top: 32px;
				left: 29px;
				width: 39px;
				height: 38px;
				background-image: url('../images/icons/icon1-light.png');	
			}
		}
		#mod_forum {
			&:before {
				top: 32px;
				left: 30px;
				width: 43px;
				height: 42px;
				background-image: url('../images/icons/icon2-light.png');
			}
			#modForum {
				display: none;
			}
			.bolder {
				display: none;
			}
		}
		#mod_location {
			&:before {
				top: 32px;
				left: 30px;
				width: 34px;
				height: 47px;
				background-image: url('../images/icons/icon9-light.png');
			}
		}
		#mod_timetable {
			background-image: url('../images/module-card-title.png');
			&:before {
				top: 32px;
				left: 30px;
				width: 39px;
				height: 38px;
				background-image: url('../images/icons/icon3-light.png');
			}
			a {
				display: none;
			}
		}
		#mod_newsletter {
			&:before {
				top: 32px;
				left: 32px;
				width: 44px;
				height: 42px;
				background-image: url('../images/icons/icon4-light.png');
			}	
		}
		#mod_menu {
			&:before {
				top: 36px;
				left: 28px;
				width: 43px;
				height: 34px;
				background-image: url('../images/icons/icon5-light.png');
			}
		}
		#mod_gallery {
			background-image: url('../images/module-card-title.png');
			&:before {
				top: 32px;
				left: 30px;
				width: 41px;
				height: 35px;
				background-image: url('../images/icons/icon6-light.png');
			}
			a {
				display: none;
			}
		}
		#mod_video {
			&:before {
				top: 30px;
				left: 30px;
				width: 43px;
				height: 46px;
				background-image: url('../images/icons/icon7-light.png');
			}
		}
		#mod_jokes {
			&:before {
				top: 34px;
				left: 30px;
				width: 39px;
				height: 42px;
				background-image: url('../images/icons/icon8-light.png');
			}
		}
	}
}
#modulesBottom {
	margin-top: 20px;
}
#modulesTop2 {
	margin: 20px 0;
}
@media (min-width: 1200px) {
	.modules-main {
		&.single {
			& > ul {
				& > li {
					& > div {
						background-image: url('../images/module-card-single-desktop-large.png');
						width: 845px;
					}
				}
				#mod_timetable, #mod_gallery {
					background-image: url('../images/module-card-title-single-desktop-large.png');
				}
			}
		}
		&.twin {
			& > ul {
				& > li {
					& > div {
						width: 405px;
						background-image: url('../images/module-card-twin-desktop-large.png');
					}
				}
				#mod_timetable, #mod_gallery {
					background-image: url('../images/module-card-title-twin-desktop-large.png');
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.modules-main {
		&.single {
			& > ul {
				& > li {
					& > div {
						width: 695px;
						background-image: url('../images/module-card-single-desktop-small.png');
					}
				}
				#mod_timetable, #mod_gallery {
					background-image: url('../images/module-card-title-single-desktop-small.png');
				}
			}
		}
		&.twin {
			& > ul {
				& > li {
					& > div {
						width: 330px;
						background-image: url('../images/module-card-twin-desktop-small.png');
					}
				}
				#mod_timetable, #mod_gallery {
					background-image: url('../images/module-card-title-twin-desktop-small.png');
				}
			}
		}
	}
}
@media (max-width: 1199px) {
	.modules-main {
		& > ul {
			justify-content: space-around;
			& > li {
				& > div {
					width: 214px;
					height: 182.5px;
					padding: 70px 25px 45px 58px;
					font-size: 1.05rem;
					line-height: 12px;
					&:before {
						transform: scale(0.8) rotate(360deg);
					}
				}
				&:not(:last-child) {
					margin-right: 0;
				}
				h2 {
					font-size: 1.8rem;
					line-height: 20px;
				}
				p {
					width: 120px;
					margin: 0;
				}
				a {
					width: 120px;
					height: 45px;
					margin: 0;
				}
			}
			#mod_contact {
				&:before {
					top: 20px;
					left: 20px;
				}
			}
			#mod_forum {
				&:before {
					top: 23px;
					left: 20px;
				}
			}
			#mod_timetable {
				&:before {
					top: 22px;
					left: 20px;
				}
			}
			#mod_newsletter {
				&:before {
					top: 22px;
					left: 22px;
				}
			}
			#mod_menu {
				&:before {
					top: 23px;
					left: 18px;
				}
			}
			#mod_gallery {
				&:before {
					top: 20px;
					left: 21px;
				}
			}
			#mod_location {
				&:before {
					top: 22px;
					left: 21px;
				}
			}
			#mod_video {
				&:before {
					top: 21px;
					left: 20px;
				}
			}
			#mod_jokes {
				&:before {
					top: 22px;
					left: 22px;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.modules-main {
		&.single {
			& > ul {
				& > li {
					& > div {
						padding-left: 120px;
						height: 226px;
					}
				}
			}
		}
		&.twin {
			& > ul {
				& > li {
					& > div {
						padding-left: 120px;
						height: 226px;
					}
				}
			}
		}
	}	
}
@media (min-width: 768px) and (max-width: 991px) {
	.modules-main {
		&.single {
			& > ul {
				display: flex;
			}
		}
		&.twin {
			& > ul {
				& > li {
					width: 50%;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.modules-main {
		&#modulesTop2 {
			& > ul {
				margin: 20px 0 0;
			}
		}
		&#modulesBottom {
			& > ul {
				margin: 0 0 20px;			
			}
		}
		& > ul {
			@include clearfix();
			display: block;
			& > li {
				float: left;
				display: block;
				width: 33.3333%;
				margin-top: 10px;
				&.modulesLeftMain {
					display: block;
				}
				&:not(:last-child) {
					margin-bottom: 10px;
				}
				& > div {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}	
}
@media (max-width: 700px) {
	.modules-main {
		& > ul {
			& > li {
				width: 50%;
			}
		}
	}
}
@media (max-width: 479px) {
	.modules-main {
		& > ul {
			& > li {
				width: 100%;
			}
		}
	}
}