.main-nav {
	background-color: $color1;
	color: #fff;
	a {
		color: #fff;
	}
}
.nav__content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 9px;
	&:before {
		content: '';
		width: 9999px;
		height: 1px;
		background-color: rgba(255,255,255,0.25);
		display: block;
		position: absolute;
		left: -50%;
		right: 0;
		top: 56px;
	}
}
.nav__fonts {
	@include clearfix();
	font-family: 'Source Sans Pro Semibold', sans-serif;
	display: block;
	margin: 0 30px 0 0;
	padding: 0;
	font-size: 0;
	li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 7px;
		}
		a {
			color: $color2;
			display: inline-block;
			text-decoration: none;
			&.medium {
				font-size: 18px;
			}
			&.big {
				font-size: 20px;
			}
			&.large {
				font-size: 22px;
			}
		}
	}
}
.nav__bip {
	margin: 0 30px 0 0;
}
.nav__search {
	height: 38px;
	width: 210px;
	outline: 1px solid rgba(255,255,255,0.5);
	outline-offset: -1px;
	overflow: hidden;
	input[type="text"] {
		background-color: transparent;
		color: inherit;
		border: 0;
		height: 38px;
		padding: 0 10px;
		font-size: 1.3rem;
		line-height: 38px;
		outline: 0;
		box-shadow: 0;
		float: left;
		display: block;
		width: calc(100% - 42px);
		&:focus, &:active {
			outline: 0 !important;
		}
		&.keyboard-outline {
			border: 2px solid red !important;
			outline: 0 !important;
		}
	}
	button {
		transition: all 0.3s ease;
		width: 42px;
		height: 38px;
		display: block;
		cursor: pointer;
		float: left;
		border: 0;
		font-size: 0;
		outline: 0;
		background-color: $color2;
		background-image: url('../images/nav/search-color1.png');
		background-position: center center;
		background-repeat: no-repeat;
		&:hover {
			background-color: $color2 + #333;
		}
		&.keyboard-outline {
			outline-color: $color1 !important;
			outline-offset: -4px !important;
		}
	}
}
.nav__contrast {
	font-size: 1.2rem;
	margin: 0 30px 0 0;
	img {
		display: inline-block;
		margin-left: 5px;
		vertical-align: middle;
	}
}
.nav__home {
	margin: 0;
	padding: 0 15px;
	height: 56px;
	display: flex;
	float: left;
	align-items: center;
	justify-content: center;
	img {
		display: block;
		width: 26px;
		height: auto;
	}
	&:hover {
		background-color: $color2;
	}
}
.nav__menu {
	display: block;
	float: left;
	text-align: center;
	#skip_tm {
		display: none;
	}
	.protectedPage {
		display: inline-block;
		vertical-align: middle;
		margin-left: 7px;
		width: 14px;
		height: 17px;
		transform: translateY(-2px);
		background-size: cover;
		background-image: url('../images/lock-basic.png');
	}
	& > ul {
		@include clearfix();
		padding: 0;
		margin: 15px 0 0;
		font-size: 0;
		text-align: left;
		& > li {
			display: inline-block;
			vertical-align: bottom;
			position: relative;
			font-size: 1.3rem;
			& > a {
				width: auto;
				height: 90px;
				padding: 0 25px;
				display: flex;
				text-align: center;
				align-items: center;
				justify-content: space-around;
				flex-direction: column;
				text-transform: uppercase;
				border-bottom: 3px solid transparent;
				&.selected {
					font-family: 'Source Sans Pro Bold';	
					border-bottom-color: $color2;	
				}
				&:hover {
					text-decoration: none;
					border-bottom-color: $color2;	
				}
				&.keyboard-outline {
					outline-offset: -2px !important;
				}
				img {
					display: block;
					width: 26px;
					height: auto;
				}
			
			}
			ul {
				display: none; 
				float: none;
				box-shadow: 0;
				&.active {
					display: block;
					position: absolute;
					background-color: $color1;
					text-align: center;
					width: 200px;
					left: 50%;
					transform: translateX(-50%);
					top: calc(100% + 15px);
					z-index: 9;
					padding: 10px 0;
					border-radius: 15px;
					a {
						color: #fff;
						white-space: normal;
						padding: 10px;
						display: block;
						&:hover, &:focus {
							background-color: $color2;
						}
					}
					&:before {
						content: '';
						top: -12px;
						left: 50%;
						transform: translateX(-50%);
						display: block;
						position: absolute;
						z-index: 9;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 7.5px 12px 7.5px;
						border-color: transparent transparent $color1 transparent;
					}
				}
			}
		}
	}
}
.nav__home--mobile {
	display: none;
}
.nav__content--mobile {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.nav--hamburger {
	display: none;
	padding: 5px;
	cursor: pointer;
	position: relative;
	border: 0;
	outline: 0;
	box-shadow: 0;
	background-color: transparent;
	margin: 30px 0 25px;
	i {
		transition: all 0.3s ease;
		width: 30px;
		height: 3px;
		opacity: 1;
		background-color: $color2;
		display: block;
		&:not(:last-of-type) {
			margin-bottom: 7px;
		}
	}
	&:before {
		content: 'menu';
		position: absolute;
		display: block;
		text-transform: uppercase;
		color: $color2;
		font-size: 1.6rem;
		line-height: 33px;
		width: 55px;
		top: 1px;
		left: 100%;
		padding-left: 5px;
	}
	&.active {
		i {
			&:first-of-type {
				transform: rotate(45deg) translateX(8px) translateY(7px);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-of-type {
				transform: rotate(-45deg)  translateX(7px) translateY(-6px);
			}
		}
	}
}
@media (max-width: 991px) {
	.nav__home, .nav__menu, .nav__fonts {
		display: none;
	}
	.nav--hamburger {
		display: inline-block;
	}
	.nav__content--holder {
		background-color: $color2;
	}
	.nav__contrast {
		font-size: 0;
		float: left;
		margin: 10px 0 0;
	}
	.nav__home--mobile {
		display: block;
		float: left;
		img {
			width: 40px;
			height: auto;
		}
	}
	.nav__content--mobile {
		@include clearfix();
		float: right;
		display: block;
	}
	.nav__menu {
		&.active {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: -66px;
			background-color: $color2;
			text-align: center;
			z-index: 9;
			& > ul {
				margin: 0;
				& > li {
					float: none;
					display: block;
					.menu-icon {
						display: none;
					}
					margin: 0;
					&:not(:last-child) {
						margin: 0;
					}
					& > a {
						border: 0;
						display: block;
						line-height: 30px;
						width: 100%;
						height: auto;
						padding: 5px 0;
						.protectedPage {
							top: 11px;
							right: 15px;
						}
						&:hover {
							background-color: $color2 + #333;
						}
					}
					img {
						display: block;
					}
				}
				ul {
					&.active {
						padding: 0;
						position: static;
						background-color: $color2 - #333;
						width: 100%;
						transform: none;
						border-radius: 0;
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
	.nav__content {
		@include clearfix();
		padding: 15px 0 12px;
		display: block;
		&:before {
			bottom: -1px;
			top: auto;
			background-color: $color2;
		}
	}
	.nav__bip {
		float: left;
		margin: 4px 0 0 15px;
	}
	.nav__search {
		width: auto;
		float: left;
		margin: 0 0 0 10px;
		outline: 0;
		position: relative;
		input[type="text"] {
			display: none;
		}
		button {
			background-image: url('../images/nav/search-color2.png');
		}
		&:before {
			display: block;
			content: '';
			position: absolute;
			width: 1px;
			height: 21px;
			background-color: #653829;
			top: 10px;
			left: 0;
		}
		&:after {
			width: 42px;
			height: 38px;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			content: '';
			display: block;
		}
		&.active {
			overflow: visible;
			input[type="text"] {
				display: block;
				position: absolute;
				width: 175px;
				height: 38px;
				top: 0;
				left: -174px;
				background-color: #fff;
				color: $color1;
				border: 1px solid $color1;
			}
			&:after {
				display: none;
			}
		}
	}
}