$basic: #464646;
$color1: #151f67;
$color2: #de6005;
html {
	font-size: 62.5%;
}
body, html {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: $basic;
	overflow-x: hidden;
}
body {
	font-size: 1.4rem;
}
.dropdown-backdrop {
	display: none;
}
a {
	text-decoration: none;
	outline: 0;
	transition: all 0.3s ease;
	color: $color1;
	display: inline-block;
	&:focus {
		outline: 0;
		color: inherit;
	}
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style-type: none;
}
h2, h3 {
	font-family: 'Source Sans Pro Bold', sans-serif;
	font-weight: normal;
}
.clock {
	display: none;
}
.clearfix {
	@include clearfix();
}
.dropdown-toggle:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.dropdown-menu {
	position: static;
	float: none;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: inherit;
	box-shadow: none;
	border-radius: 0;
	& > li {
		& > a {
			white-space: normal;
		}
	}
}
.keyboard-outline {
	outline: 2px solid red !important;
	text-decoration: none !important;
	&.button {
		outline-color: $color1 !important;
		outline-offset: 2px !important;
	}
}
input[type="text"], input[type="email"], input[type="password"], textarea, .butForm, input[type="submit"], input[type="radio"], input[type="checkbox"] {
	&.keyboard-outline {
		outline-offset: 2px !important;
		outline: 2px solid red !important;
	}
	&:focus {
		outline: 0;
	}
}
iframe {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content_txt {
	@include clearfix();
}
.label, .radio {
	padding: 0;
	color: inherit;
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	white-space: normal;
	border-radius: 0;
}
.clock-container {
	display: none;
}
.checkbox, .radio {
	label, .label {
		padding: 0;
		margin: 0;
		position: static;
		min-height: 0;
	}
	input[type="radio"], input[type="checkbox"] {
		position: static;
		margin: 0;
	}
	& + .radio {
		margin: 0;
	}
}
.heading, #content_txt > h2 {
	font-family: 'Source Sans Pro Bold', sans-serif;
	color: $color1;
	font-size: 2.6rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 30px;
	padding: 0 0 15px;
	display: block;
	border-bottom: 1px solid $color2;
}
.button-wrapper, a[href='wyloguj_sie'] {
	transition: all 0.3s ease;
	background-color: $color2;
	line-height: 44px;
	height: 44px;
	position: relative;
	color: #fff;
	display: inline-block;
	padding: 0 50px 0 10px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro Bold', sans-serif;
	font-size: 1.6rem;
	&:before, &:after {
		pointer-events: none;
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
	}
	&:before {
		border-width: 0 0 28px 28px;
		border-color: transparent transparent #fff transparent;
		bottom: 0;
		right: 0;
	}
	&:after {
		top: 50%;
		transform: translateY(-50%);
		right: 32px;
		border-width: 5.5px 0 5.5px 10px;
		border-color: transparent transparent transparent #fff;
	}
	&:hover {
		background-color: $color2 + #333;
		text-decoration: none !important;
		color: #fff !important;
	}
	&.keyboard-outline {
		outline: 2px solid $color1 !important;
		outline-offset: 2px !important;
	}
	&:focus {
		outline: 0;
		color: #fff;
	}
	a {
		&:hover {
			color: #fff !important;
			text-decoration: none !important;
		}
		&:focus {
			outline: 0;
		}
		&.keyboard-outline {
		 	outline: 2px solid $color1 !important;
		 	outline-offset: 2px !important;
		}
	}
	input, button {
		text-transform: uppercase;
		border: 0;
		outline: 0;
		width: calc(100% + 60px);
		padding: 0 0 0 10px;
		transform: translateX(-10px);
		color: inherit;
		background-color: transparent;
		cursor: pointer;
		display: block;
		text-align: left;
		color: #fff;
		&.keyboard-outline {
			outline: 2px solid $color1 !important;
			outline-offset: -2px !important;
		}
	}
}
@media (min-width: 992px) {
	.visible-mobile {
		display: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}
@media (max-width: 991px) {
	.container {
		width: 100% !important;
	}
	.hidden-mobile {
		display: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}