@mixin clearfix {
	&:before, &:after {
			content: " ";
			display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin retina() {
	@media (min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(-webkit-min-device-pixel-ratio: 1.5),
	(min-device-pixel-ratio: 1.5),
	(min-resolution: 1.5dppx) {
	   @content;
	}
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/sourcesanspro-regular.eot');
	src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcesanspro-regular.woff2') format('woff2'), 
	url('../fonts/sourcesanspro-regular.woff') format('woff'), 
	url('../fonts/sourcesanspro-regular.ttf') format('truetype'), 
	url('../fonts/sourcesanspro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro Semibold';
	src: url('../fonts/sourcesanspro-semibold.eot');
	src: url('../fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcesanspro-semibold.woff2') format('woff2'), 
	url('../fonts/sourcesanspro-semibold.woff') format('woff'), 
	url('../fonts/sourcesanspro-semibold.ttf') format('truetype'), 
	url('../fonts/sourcesanspro-semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro Bold';
	src: url('../fonts/sourcesanspro-bold.eot');
	src: url('../fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcesanspro-bold.woff2') format('woff2'), 
	url('../fonts/sourcesanspro-bold.woff') format('woff'), 
	url('../fonts/sourcesanspro-bold.ttf') format('truetype'), 
	url('../fonts/sourcesanspro-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'chalk';
	src: url('../fonts/chalk.eot');
	src: url('../fonts/chalk.eot?#iefix') format('embedded-opentype'),
	url('../fonts/chalk.woff2') format('woff2'), 
	url('../fonts/chalk.woff') format('woff'), 
	url('../fonts/chalk.ttf') format('truetype'), 
	url('../fonts/chalk.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}